header#masthead	{
	height: 41px;
	background-color: #9af;
}

header h1 {
	display: none;
}

header h4 {
	display: none;
}

html {
	height: 100%;
}

body {
  /* background-color: #eee;*/
background-color: #e9eaed;
    background: url('/media/img/bg-honeycomb.png') repeat-x fixed bottom;
background: url('/media/img/bg-honeycomb.png') repeat-x fixed bottom), -webkit-gradient(linear, left top, left bottom, from(#B2CBEA), to(#fff)); /* Saf4+, Chrome */
background: url('/media/img/bg-honeycomb.png') repeat-x fixed bottom, -webkit-linear-gradient(top, #B2CBEA, #fff); /* Chrome 10+, Saf5.1+ */
background: url('/media/img/bg-honeycomb.png') repeat-x fixed bottom),    -moz-linear-gradient(top, #B2CBEA, #fff); /* FF3.6+ */
background: url('/media/img/bg-honeycomb.png') repeat-x fixed bottom,     -ms-linear-gradient(top, #B2CBEA, #fff); /* IE10 */
background: url('/media/img/bg-honeycomb.png') repeat-x fixed bottom,      -o-linear-gradient(top, #B2CBEA, #fff); /* Opera 11.10+ */
background: url('/media/img/bg-honeycomb.png') repeat-x fixed bottom,         linear-gradient(to bottom, #B2CBEA, #fff); /* W3C */
background-attachment: fixed;
  height: 100%;
}

body > .container {
    background-color: #fff;
    min-height: 100%;
    padding-top: 75px;
    padding-bottom: 30px;
}

#outer-container {
  border: 1px solid #ccc;
    box-shadow: 0px 0px 6px #999;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  padding-top: 100px;
}

.login-box {
  display: block;
  width: 360px;
  margin: 50px auto;
}

.login-header {
  display: block;
  width: 360px;
  height: 45px;
  background: transparent url('/media/img/logo-login.png') center center no-repeat;
}

.login-form {
  display: block;
  width: 360px;
  height: 200px;
  background: transparent url('/media/img/bg-login.png') center center no-repeat;
}

.login {
  margin: 50px auto;
}

.login label
{
	color: #428bca;
	font-size: 18px;
}

#content {
    min-height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-top {
  margin-bottom: 0px;
}

#primarynav .navbar-inner {
	background-color: blue;
	background-image: none;
}

#primarynav li.active a {
	background-color: #8ae;
	color: black;
}

#primarynav a {
  color: white;
	background-color: #679;
}

#primarynav a:hover {
  color: blue;
}

td.dmt-open, span.dmt-open, div.dmt-open, td.new, div.new, td.reopened, div.reopened {
	font-weight: bold;
	color: #f00;
}

td.closed, span.closed, div.closed {
		font-weight: bold;
		color: #009900;
}

td.resolved, span.resolved, div.resolved {
		font-weight: bold;
		color: #069;
}

td.verified, span.verified, div.verified {
		font-weight: bold;
		color: #009900;
}

.pr0 {
  font-weight: bold;
  color: #9999cc;
}

.pr1 {
  font-weight: bold;
  color: #069;
}

.pr2 {
  font-weight: bold;
  color: #090;
}

.pr3 {
  font-weight: bold;
  color: #f60;
}

.pr4 {
  font-weight: bold;
  color: #f00;
}

td.ok, div.ok {
		color: #9999cc;
}
td.upcoming, div.upcoming {
		color: #069;
}
td.due, div.due {
		color: #009900;
}
td.overdue, div.overdue {
		color: #f60;
}
td.late, div.late {
		color: #f00;
}


.modal-body { max-height:100%; height:85%; }
.twitter-typeahead {width: 100%; }
.tt-hint {display: none;}

.tag .remove-link {
		visibility: hidden;
}
.tag:hover .remove-link {
		visibility: visible;
}

.priority-select {
   visibility: hidden;
}
dd:hover .priority-select {
   visibility: visible;
}

.personnel .remove-link {
		visibility: hidden;
}
.personnel:hover .remove-link {
		visibility: visible;
}


/*Tablecloth.js edits*/
.tablesorter tbody tr td:nth-child(1) {
	max-width: 400px;
}

/* Add Action Item */
.owner-form-group,
.assignedto-form-group {
    float: left;
    width: 47%;
}

.dl-horizontal dd input[type=checkbox] {
    width: auto;
    height: auto;
}

form.navbar-form button[type=submit] {
    margin-top: 0;
    margin-bottom: 0;
}

form.navbar-form input[type=search] {
    max-width: 125px
}

form .control-group {
    margin-bottom: 15px;
}

form .control-group.error .help-inline {
    color: #f00;
}

.dropdown-menu .navbar-text {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
    padding-left: 12px;
    padding-right: 12px;
}

footer.page-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 60px;
    text-align: center;
}

.item-history hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-history .item-comment {
    word-wrap: break-word;
}

.dmt-messages p {
    padding: 15px;
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.dataTables_info {
    display: none;
}

/* Top navigation with logo */

.navbar-dmt {
  background: transparent;
  height: 95px;
  border: 0;
}

.container-theme {
  position: relative;
  height: 95px;
}

.theme-brand {
  width: 126px;
  height: 95px;
  margin-left: 0 !important;
  background: transparent url('/media/img/bg-honeycomb-brand.png') left top no-repeat;
}

.navbar-top-level {
  height: 40px;
  background: #91b3d9; /* Old browsers */
  margin: 0 1px 0 120px;
}

.navbar-lower-level {
  height: 40px;
  background: #e2ebf5; /* Old browsers */
  margin: 0 1px 0 120px;
}

/* Search widget */

.search-box,.close-icon,.search-wrapper {
	position: relative;
}

.search-wrapper {
  padding: 0;
  margin: 0;
  border: none;
  width: 320px; /* Responsive definition required */
  float: right;
}

.search-wrapper input:focus::-webkit-input-placeholder { color:transparent;} /* WebKit browsers */
.search-wrapper input:focus:-moz-placeholder { color:transparent; } /* Mozilla Firefox 4 to 18 */
.search-wrapper input:focus::-moz-placeholder { color:transparent; } /* Mozilla Firefox 19+ */
.search-wrapper input:focus:-ms-input-placeholder { color:transparent; } /* Internet Explorer 10+ */

.search-box {
	width: 300px; /* Responsive definition required */
	margin-top: 6px;
	border: 1px solid #999;
  outline: none;
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
          border-radius: 13px;
  padding: 3px 25px 3px 7px;
  height: 26px;
  font-size: 12px;
}

.close-icon {
  /* border:1px solid transparent; */
  border: none;
  background: #ff8585 url('/media/img/icon-clearsearch.png') center center no-repeat;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
	width: 16px;
	height: 16px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
	position: absolute;
	top: 11px;
	left: 278px; /* Responsive definition required */
}

.search-box:invalid ~ .close-icon {
	display: none;
}

.user-menu {
  color: #036;
  float: right;
  margin-right: 10px;
  padding: 0;
	margin-top: 10px;
  list-style: none;
}

.user-menu a {
  color: #036;
  text-decoration: none;
}

.username {
  display: inline-block;
}

.dmt-global-nav {
  line-height: 40px !important;
  padding: 0 15px !important;
  color: #036 !important;
  font-weight: bold;
  font-size: bold;
}

.dmt-global-nav:hover {
  background-color: #ffc !important;
}

.navbar-dmt .navbar-nav>.open>a, 
.navbar-dmt .navbar-nav>.open>a:hover, 
.navbar-dmt .navbar-nav>.open>a:focus {
  background-color: #ffcc66 !important;
}

.nav-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.nav-icon-items { background: url('/media/img/icon-items.png') center center no-repeat;}
.nav-icon-projects { background: url('/media/img/icon-projects.png') center center no-repeat;}
.nav-icon-tags { background: url('/media/img/icon-tags.png') center center no-repeat;}
.nav-icon-clients { background: url('/media/img/icon-clients.png') center center no-repeat;}
.nav-icon-groups { background: url('/media/img/icon-groups.png') center center no-repeat;}
.nav-icon-reports { background: url('/media/img/icon-reports.png') center center no-repeat;}
.nav-icon-talk { background: url('/media/img/icon-talk.png') center center no-repeat;}

/* Zarina testing things */

.bordered {
  border: 1px solid #ccc;
  border-collapse: collapse;
 }
 
 nav .container {
  padding-left: 0;
  padding-right: 0;
 }

/* Color spans */

.grey {
  color: #999;
}

.disabled {
  color: #999 !important;
  cursor: not-allowed;
}

.old-pmt {
  color: #c5b083 !important;
}

/* Global nav icons responsive */
@media (max-width: 991px) and (min-width: 768px) {
  .nav-icon-items { background: url('/media/img/icon-items-l.png') center center no-repeat;}
  .nav-icon-projects { background: url('/media/img/icon-projects-l.png') center center no-repeat;}
  .nav-icon-tags { background: url('/media/img/icon-tags-l.png') center center no-repeat;}
  .nav-icon-clients { background: url('/media/img/icon-clients-l.png') center center no-repeat;}
  .nav-icon-groups { background: url('/media/img/icon-groups-l.png') center center no-repeat;}
  .nav-icon-reports { background: url('/media/img/icon-reports-l.png') center center no-repeat;}
  .nav-icon-talk { background: url('/media/img/icon-talk-l.png') center center no-repeat;}
}
