header#masthead	{
	height: 41px;
	background-color: #9af;
}

header h1 {
	display: none;
}

header h4 {
	display: none;
}

html {
	height: 100%;
}

body {
  background-color: #eee;
  height: 100%;
}

body > .container {
    background-color: #fff;
    min-height: 100%;
    padding-top: 75px;
    padding-bottom: 30px;
}

#content {
    min-height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-top {
  margin-bottom: 0px;
}

#primarynav .navbar-inner {
	background-color: blue;
	background-image: none;
}

#primarynav li.active a {
	background-color: #8ae;
	color: black;
}

#primarynav a {
  color: white;
	background-color: #679;
}

#primarynav a:hover {
  color: blue;
}

td.dmt-open, span.dmt-open, div.dmt-open, td.new, div.new, td.reopened, div.reopened {
	font-weight: bold;
	color: #f00;
}

td.closed, span.closed, div.closed {
		font-weight: bold;
		color: #009900;
}

td.resolved, span.resolved, div.resolved {
		font-weight: bold;
		color: #069;
}

td.verified, span.verified, div.verified {
		font-weight: bold;
		color: #009900;
}

.pr0 {
  font-weight: bold;
  color: #9999cc;
}

.pr1 {
  font-weight: bold;
  color: #069;
}

.pr2 {
  font-weight: bold;
  color: #090;
}

.pr3 {
  font-weight: bold;
  color: #f60;
}

.pr4 {
  font-weight: bold;
  color: #f00;
}

td.ok, div.ok {
		color: #9999cc;
}
td.upcoming, div.upcoming {
		color: #069;
}
td.due, div.due {
		color: #009900;
}
td.overdue, div.overdue {
		color: #f60;
}
td.late, div.late {
		color: #f00;
}


.modal-body { max-height:100%; height:85%; }
.twitter-typeahead {width: 100%; }
.tt-hint {display: none;}

.tag .remove-link {
		visibility: hidden;
}
.tag:hover .remove-link {
		visibility: visible;
}

.priority-select {
   visibility: hidden;
}
dd:hover .priority-select {
   visibility: visible;
}

.personnel .remove-link {
		visibility: hidden;
}
.personnel:hover .remove-link {
		visibility: visible;
}


/*Tablecloth.js edits*/
.tablesorter tbody tr td:nth-child(1) {
	max-width: 400px;
}

/* Add Action Item */
.owner-form-group,
.assignedto-form-group {
    float: left;
    width: 47%;
}

.dl-horizontal dd input[type=checkbox] {
    width: auto;
    height: auto;
}

form.navbar-form button[type=submit] {
    margin-top: 0;
    margin-bottom: 0;
}

form.navbar-form input[type=search] {
    max-width: 125px
}

form .control-group {
    margin-bottom: 15px;
}

form .control-group.error .help-inline {
    color: #f00;
}

.dropdown-menu .navbar-text {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
    padding-left: 12px;
    padding-right: 12px;
}

footer.page-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 60px;
    text-align: center;
}

.item-history hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-history .item-comment {
    word-wrap: break-word;
}

.dmt-messages p {
    padding: 15px;
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.dataTables_info {
    display: none;
}