
{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{{STATIC_URL}}admin/css/login.css{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main">
<form method="get" action="https://cas.columbia.edu/cas/login">
<input type="hidden" name="destination" value="https://{{ request.get_host }}/accounts/caslogin/?next=/admin/&this_is_the_login_form=1" />
<p>If you have a Columbia UNI, you already have an account and can
login through CAS with it</p>
<input type="submit" value="Here" />
</form>
</div>
{% endblock %}


