Django>=3.2.14,<4
asgiref==3.8.1
configparser==7.2.0
future==1.0.0
commonmark==0.9.1
psycopg2==2.9.10
versiontools==1.9.1
statsd==4.0.1
pep8==1.7.1
pyflakes==3.3.2
pycodestyle==2.13.0
entrypoints==0.4  # for flake8
importlib-metadata<8.7 # for flake8
typing_extensions==4.13.2
zipp==3.21.0  # for flake8
flake8==7.2.0

mccabe==0.7.0
certifi==2025.1.31

pyparsing==3.2.3
tornado==6.4.2
cssselect==1.3.0
lxml==5.3.2
fuzzywuzzy==0.18.0
sure==2.0.1
isodate==0.7.2
SPARQLWrapper==1.8.5
coverage==7.8.0
pyasn1==0.6.1
chardet==5.2.0

# https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl-py2
cffi==1.17.1  # pyOpenSSL
cryptography==44.0.2
idna<4
urllib3==2.4.0
ply==3.11
pycparser==2.22
cffi==1.17.1
asn1crypto==1.5.1

requests==2.32.3
packaging==24.2
appdirs==1.4.4
logilab-common==2.1.0
lazy-object-proxy==1.10.0
wrapt==1.17.2

pylint==3.3.6

astroid==3.3.9

six==1.17.0
python-dateutil==2.9.0.post0
pytz==2025.2
simpleduration==0.1.0
ipaddress==1.0.23
text-unidecode==1.3  # for faker
Faker==37.1.0
factory_boy==3.3.3
ldap3==2.9.1

sentry-sdk==2.25.1  # for ctlsettings

parse-type==0.6.4
parse==1.20.2
wsgi_intercept==1.13.1
mechanize==0.4.10
recordtype==1.4
urlparse2==1.1.1
sqlparse==0.5.3
requirements/src/whitelistaffilmapper-0.1.1-py2.py3-none-any.whl
s3transfer==0.11.4
jmespath==1.0.1

botocore>=1.15.0,<1.38.0
boto3>=1.12.0,<1.38.0

unicodecsv==0.14.1
XlsxWriter==3.2.2
splinter==0.21.0
shortuuid==1.0.13
contextlib2==21.6.0
tblib==3.1.0

pyzmq==26.4.0
websocket-client==1.8.0

python-cas==1.6.0
django-cas-ng==5.0.1

django-staticmedia==0.2.2
django-appconf==1.1.0
django-statsd-mozilla==0.4.0
raven==6.10.0
django-debug-toolbar==5.1.0
django-waffle==4.2.0

django-smoketest==1.2.1
django-extensions==4.1
# typing needed for django-extensions
django-stagingcontext==0.1.0
django-ga-context==0.1.0
django-impersonate==1.9.5
django-filter==25.1
django-crispy-forms==2.3
djangorestframework==3.15.1
django-taggit==4.0.0
django-templatetag-sugar==1.0
django-classy-tags==4.1.0
django-taggit-templatetags2==1.6.1
django-bootstrap3==25.1
django-emoji==2.2.2
django-braces==1.17.0
oauthlib==3.2.2
jwcrypto>=0.8.0
django-oauth-toolkit==3.0.1
django-extra-views==0.15.0
bleach==6.2.0
webencodings==0.5.1
html5lib==1.1
freezegun==1.5.1
gunicorn==23.0.0
django-storages==1.14.6
django-cacheds3storage==0.3.0
django-markwhat==1.6.2

django-s3sign==0.4.0
django-smtp-ssl==1.0

ctlsettings==0.4.4

pbr==6.1.1
pyyaml==6.0.2
stevedore>=1.20.0 # Apache-2.0
rich==14.0.0 # bandit
bandit==1.8.3

numpy<2.3.0
entrypoints==0.4
Deprecated==1.2.18
charset-normalizer==3.4.1
