Django==3.2.12
asgiref==3.4.1
configparser==5.2.0
future==0.18.2
commonmark==0.9.1
psycopg2<2.9
versiontools==1.9.1
statsd==3.3.0
pep8==1.7.1
pyflakes==2.4.0
pycodestyle==2.8.0
entrypoints==0.4  # for flake8
importlib-metadata<4.12 # for flake8
typing_extensions==4.1.1
zipp==3.6.0  # for flake8
flake8==4.0.1

mccabe==0.7.0
certifi==2021.10.8

pyparsing==3.0.7
tornado==6.1
cssselect==1.1.0
lxml==4.8.0
fuzzywuzzy==0.18.0
sure==2.0.0
isodate==0.6.1
SPARQLWrapper==1.8.5
coverage==6.2
pyasn1==0.4.8
chardet==4.0.0

# https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl-py2
cryptography==36.0.2
idna<3
urllib3==1.26.9
ply==3.11
pycparser==2.21
cffi==1.15.0
asn1crypto==1.5.1

requests==2.27.1
packaging==21.3
appdirs==1.4.4
logilab-common==1.9.3
lazy-object-proxy==1.7.1
wrapt==1.14.0

pylint==2.13.5

astroid==2.11.2

six==1.16.0
python-dateutil==2.8.2
pytz==2022.1
simpleduration==0.1.0
ipaddress==1.0.23
text-unidecode==1.3  # for faker
Faker==13.3.4
factory_boy==3.2.1
ldap3==2.9.1

parse-type==0.6.0
parse==1.19.0
wsgi_intercept==1.9.3
mechanize==0.4.7
recordtype==1.3
urlparse2==1.1.1
sqlparse==0.4.2
requirements/src/whitelistaffilmapper-0.1.1-py2.py3-none-any.whl
s3transfer==0.5.2
jmespath==0.10.0

botocore>=1.15.0,<1.25.0
boto3>=1.12.0,<1.22.0

unicodecsv==0.14.1
XlsxWriter==3.0.3
splinter==0.17.0
shortuuid==1.0.8
contextlib2==21.6.0
tblib==1.7.0

pyzmq==22.3.0
websocket-client==1.3.1

python-cas==1.6.0
requirements/src/django_cas_ng-4.2.2ctl-py2.py3-none-any.whl

django-staticmedia==0.2.2
django-appconf==1.0.5
rcssmin==1.1.0  # django-compressor
rjsmin==1.2.0  # django-compressor
django-compressor==3.1
django-statsd-mozilla==0.4.0
raven==6.10.0
django-debug-toolbar==3.2.4
django-waffle==2.4.1

django-smoketest==1.2.0
django-extensions==3.1.5
# typing needed for django-extensions
django-stagingcontext==0.1.0
django-ga-context==0.1.0
django-impersonate==1.8.2
django-filter==21.1
django-crispy-forms==1.13.0
djangorestframework==3.13.1
django-taggit==2.1.0
django-templatetag-sugar==1.0
django-classy-tags==2.0.0
requirements/src/django_taggit_templatetags2-1.4.1.ccnmtl-py2.py3-none-any.whl
django-bootstrap3==21.1
django-emoji==2.2.2
django-braces==1.15.0
oauthlib==3.2.0
jwcrypto>=0.8.0
django-oauth-toolkit==1.7.1
django-extra-views==0.14.0
bleach==5.0.0
webencodings==0.5.1
html5lib==1.1
freezegun==1.2.1
gunicorn==20.1.0
django-storages==1.12.3
django-cacheds3storage==0.2.2
django-markwhat==1.6.2

django-s3sign==0.3.2
django-smtp-ssl==1.0

ccnmtlsettings==1.9.0

pbr==5.8.1
pyyaml==6.0
stevedore>=1.20.0 # Apache-2.0
bandit==1.7.1

numpy<1.22.0
entrypoints==0.4
Deprecated==1.2.13
charset-normalizer==2.0.12
