{% extends 'base.html' %}
{% load compress %}
{% load markup %}
{% load emoji_tags %}
{% load dmttags %}

{% block title %}{{ project.name }} Chat{% endblock %}


{% block main_requirejs %}
    <script
        {% if debug %}
        data-main="{{STATIC_URL}}js/src/chat.js"
        {% else %}
        data-main="{{STATIC_URL}}chat-built.js"
        {% endif %}
        src="{{STATIC_URL}}js/libs/require/require.js"></script>
{% endblock %}
{% block js %}
<script>
 // make some basics available to javascript
 window.username = '{{request.user.username}}';
 window.freshTokenURL = '{% url 'project-chat-fresh-token' project.pid %}';
 window.token = '{{token}}';
 window.websocketsBase = '{{websockets_base}}';
 window.postURL = '{% url 'project-chat-post' project.pid %}';
 window.heartbeatURL = '{% url 'project-chat-heartbeat' project.pid %}';
</script>
{% endblock %}

{% block content %}
    <h1><a href="{{project.get_absolute_url}}">{{project.name}}</a></h1>
<p><a href="{% url 'project-chat-archive' project.pid %}">Archive</a></p>

<div id="log">
    {% for message in room.recent_messages %}
        {% ifchanged message.added.date %}
            <div class="row">
                <div class="col-sm-12 bg-info">
                    {{message.added.date}}
                </div>
            </div>
        {% endifchanged %}
<div class="row">
        <div class="col-sm-1 timestamp">{{message.added|date:"H:i"}}</div>
        <div class="col-sm-2 nick"><a href="{% url 'user_detail' message.user.userprofile.username %}">{{message.user.get_full_name}}</a></div>
        <div class="col-sm-9 ircmessage">{{message.text|commonmark|linkify|emoji_replace}}</div>
</div>
{% endfor %}
</div>

<form id="msg_form" class="form-inline post-form">
    {% csrf_token %}
    <div class="row" id="chat-message-form">
        <div class="col-sm-3"><input type="submit" class="btn btn-primary" value="Post" /></div>
        <div class="col-sm-9">
            <input type="text" id="text-input" name="text" class="form-control" />
        </div>
    </div>

</form>

<div id="presence" class="panel panel-default"></div>


{% endblock %}
