{% extends 'base.html' %}

{% block title %}Client: {{object.firstname}} {{object.lastname}}{% endblock %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}

<span id="client-id" style="display: none;">{{object.client_id}}</span>

<script data-main="{{STATIC_URL}}js/client_edit"
				src="{{STATIC_URL}}js/libs/require/require.js"></script>

<script type="text/template" id="client-template">
  <div>
<dl>
<dt>LASTNAME</dt><dd>
<input class="lastname-input" type="text"
 value="<%= lastname %>" name="lastname"/></dd>
<dt>FIRSTNAME</dt><dd>
<input class="firstname-input" type="text"
 value="<%= firstname %>" name="firstname"/></dd>
<dt>TITLE</dt><dd><input class="title-input" type="text"
 value="<%= title %>" name="title"/></dd>
<dt>STATUS</dt>
<dd><input class="status-input" type="text"
 value="<%= status %>" name="status"/></dd>
<dt>DEPARTMENT</dt><dd><input class="department-input"
 type="text" value="<%= department %>" name="department"/></dd>
<dt>SCHOOL</dt><dd><input class="school-input" type="text"
 value="<%= school %>" name="school"/></dd>
<dt>CLIENT SINCE</dt><dd><input class="registration_date-input"
 type="text" value="<%= registration_date %>" name="registration_date"/></dd>
<dt>PHONE</dt><dd><input class="phone-input" type="text"
 value="<%= phone %>" name="phone"/></dd>
<dt>PHONE (MOBILE)</dt><dd><input class="phone_mobile-input"
 type="text" value="<%= phone_mobile %>" name="status"/></dd>
<dt>PHONE (OTHER)</dt><dd><input class="phone_other-input" type="text"
 value="<%= phone_other %>" name="phone_other"/></dd>
<dt>EMAIL</dt><dd><input class="email-input" type="text"
 value="<%= email %>" name="email"/></dd>
<dt>SECONDARY EMAIL</dt><dd><input class="email_secondary-input"
 type="text" value="<%= email_secondary %>" name="email_secondary"/></dd>
<dt>WEBSITE</dt><dd><input class="website_url-input"
 type="text" value="<%= website_url %>" name="website_url"/></dd>
</dl>
	</div>
</script>

<div id="client-container"></div>

{% endblock %}
