{% extends 'base.html' %}
{% load markup %}
{% load emoji_tags %}
{% load dmttags %}

{% block content %}
<h1>Dashboard</h1>

<div class="jumbotron">
<div class="row">
<div class="col-xs-6">

<ul class="list-group">
<li class="list-group-item"><img src="{{GRAPHITE_BASE}}?target=stats.app.gauges.dmt.estimates.non_sm&target=stats.app.gauges.dmt.estimates.sm&_salt=1369503684.499&height=50&colorList=%236699cc%2C%23cccccc&hideLegend=true&hideAxes=true&yMin=0&width=450&bgcolor=%23ffffff&hideGrid=true&graphOnly=true&areaMode=all&from=-{{DASHBOARD_GRAPH_TIMESPAN}}"
         width="450" height="50" />
</li>
<li class="list-group-item"><b>{{non_sm_hours_estimated|floatformat}}</b> hours estimated in <b>{{open_non_sm_items}}</b> items</li>
<li class="list-group-item">{{sm_hours_estimated|floatformat}} hours in {{open_sm_items}} Someday/Maybe items</li>
</ul>


</div>
<div class="col-xs-6">
<ul class="list-group">
<li class="list-group-item"><img src="{{GRAPHITE_BASE}}?target=stats.app.gauges.dmt.hours.one_week&_salt=1369503684.499&height=50&colorList=%236699cc%2C%23cccccc&hideLegend=true&hideAxes=true&yMin=0&width=450&bgcolor=%23ffffff&hideGrid=true&graphOnly=true&areaMode=all&from=-{{DASHBOARD_GRAPH_TIMESPAN}}"
         width="450" height="50" />
</li>
<li class="list-group-item"><b>{{breakdowns.0|floatformat}}</b> hours logged this week</li>
<li class="list-group-item"><b>{{breakdowns.1|floatformat}}</b> hours logged last week</li>
<li class="list-group-item"><b>{{breakdowns.2|floatformat}}</b> hours logged 2 weeks ago</li>
<li class="list-group-item"><b>{{breakdowns.3|floatformat}}</b> hours logged 3 weeks ago</li>
</ul>
</div>
</div>
</div>

<h2>Recent/Upcoming Milestones</h2>

{% if milestones.count %}
<table class="table table-condensed">
{% for milestone in milestones %}
<tr {% if milestone.target_date_passed %}class="warning"{% endif %}>
    <td class="{{milestone.status_class}}">{{milestone.status}}</td>
    <td>{{milestone.target_date}}</td>
    <td>{{milestone.estimated_time_remaining|floatformat}} hours
    ({{milestone.num_open_items}} items)</td>
    <td><a href="{{milestone.project.get_absolute_url}}">{{milestone.project.name|truncatechars:40}}</a></td>
    <td><a href="{{milestone.get_absolute_url}}">{{milestone.name|truncatechars:40|emoji_replace}}</a></td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No Recent/Upcoming Milestones</p>
{% endif %}

<h2>Most Active Projects</h2>
{% if active_projects %}
<table class="table table-condensed">
{% for project in active_projects %}
<tr>
    <td><a href="{{project.get_absolute_url}}">{{project.name}}</a></td>
  <td><b>{{project.recent_hours|floatformat}}</b> hours logged</td>
    <td><img src="{{GRAPHITE_BASE}}?target=stats.app.gauges.dmt.projects.{{project.pid}}.hours_logged&target=stats.app.gauges.dmt.projects.{{project.pid}}.hours_estimated&_salt=1369503684.466&height=10&colorList=%2366cc66%2C%23cc6666&hideLegend=true&hideAxes=true&yMin=0&width=50&bgcolor=%23ffffff&hideGrid=true&graphOnly=true&areaMode=stacked&from=-{{DASHBOARD_GRAPH_TIMESPAN}}"
         width="50" height="10" /></td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No active projects.</p>
{% endif %}

<h2>Most Active Users</h2>
{% if active_users %}
<table class="table table-condensed">
{% for user in active_users %}
<tr>
    <td><a href="{{user.get_absolute_url}}">{{ user.get_fullname }}</a></td>
  <td><b>{{user.recent_hours|floatformat}}</b> hours logged</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No active users.</p>
{% endif %}

<h2>Recent Status Updates</h2>

{% for su in status_updates %}
<div class="row">
<div class="col-md-3">
<a href="{{su.project.get_absolute_url}}">{{su.project.name}}</a></div>
<div class="col-md-6">
 {{su.body|commonmark|linkify|emoji_replace}}
</div>
<div class="col-md-3">
 &mdash; <a href="{{su.author.userprofile.get_absolute_url}}">{{ su.author.userprofile.get_fullname }}</a>
 ({{su.added.date}})
</div>
</div>
{% endfor %}

{% endblock %}
