{% load dmttags %}

<form class="pmt-daterange-form">
    <div class="daterange-invalid hidden alert alert-warning">
        The end date can't be earlier than the start date.
    </div>
    <div class="form-group col-md-4">
        <div class="input-group input-daterange">
            <input type="text" class="form-control"
                   name="interval_start"
                   value="{{interval_start|format_ymd}}">
            <span class="input-group-addon">to</span>
            <input type="text" class="form-control"
                   name="interval_end"
                   value="{{interval_end|format_ymd}}">
        </div>
    </div>
    <div class="form-group col-md-2">
        <button type="submit"
                class="btn btn-default pmt-report-submit"
        >Submit</button>
    </div>
</form>
