{% extends 'base.html' %}
{% load dmttags %}

{% block title %}Group: {{object|verbose_group_name}}{% endblock %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}
<ul class="breadcrumb">
  <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
  <li><a href="{% url 'group_list' %}">Groups</a></li>
  <li class="active">{{ object|verbose_group_name }}</li>
</ul>

<h1>Group: {{ object|verbose_group_name }}</h1>

<h3>Primary Members</h3>
<table class="table table-striped table-condensed">
{% for user in primary_members %}
<tr>
    <td>
        <a href="{% url 'user_detail' user.username %}">
            {% firstof user.fullname user.username %}
        </a>
    </td>
</tr>
{% endfor %}
</table>

{% if other_members %}
<h3>Other Members</h3>
<table class="table table-striped table-condensed">
{% for user in other_members %}
<tr>
    <td>
        <a href="{% url 'user_detail' user.username %}">
            {% firstof user.fullname user.username %}
        </a>
    </td>
        <td>
            <form action="{% url 'remove_user_from_group' object.username %}"
                  method="post">{% csrf_token %}
                <input type="hidden" name="username" value="{{user.username}}" />
            <input type="submit" class="btn btn-warning pull-right btn-xs"
                   value="remove" />
            </form>
        </td>
</tr>
{% endfor %}
</table>
{% endif %}

<form class="form-inline" action="add_user/" method="post">
    {% csrf_token %}
    <h3>
        Add User to this Group (as <strong>other</strong> member)
    </h3>
        <div class="form-group">
            <select name="username" class="form-control">
                {% for user in eligible_users %}
                    <option value="{{user.username}}">
                        {% firstof user.fullname user.username %}
                    </option>
                {% endfor %}
            </select>
        </div>
    <button type="submit"  class="btn btn-primary">
        add user
    </button>
</form>

{% endblock %}
