{% extends 'base.html' %}
{% load claimtags %}

{% block css %}
<link rel="stylesheet" href="{{STATIC_URL}}css/tablecloth.css">
{% endblock %}


{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}
{% if request.user.is_anonymous %}
<p>Please Login</p>
{% else %}
{% pmtuser as pmt_user %}
<table class="table table-striped table-condensed tablesorter" id="user-items">
	<thead>
		<tr>
			<th>Item</th>
			<th>Priority</th>
			<th>Status</th>
			<th>Project</th>
			<th>Target Date</th>
			<th>Modified</th>
		</tr>
	</thead>
	<tbody>
{% for item in pmt_user.items %}
<tr>
	<td><a href="{{item.get_absolute_url}}">{{item.title}}</a></td>
	<td>{{item.priority_label}}</td>
	<td class="{{item.status_class}}">{{item.status_display}}</td>
	<td><a href="{{item.milestone.project.get_absolute_url}}">{{item.milestone.project.name}}</a></td>
	<td>{{item.target_date}}</td>
	<td>{{item.last_mod}}</td>
</tr>
{% endfor %}
	</tbody>
</table>
{% endif %}
{% endblock %}

{% block js %}
  <script src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>

<script>
$(document).ready(function() 
    { 
        $("#user-items").tablesorter(); 
    } 
);
</script>
{% endblock %}
