{% extends 'base.html' %}
{% load emoji_tags %}
{% block extraclass %} class="dashboard"{% endblock %}
{% block title %}My Items{% endblock %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}

<h1 class="page-title">My Items</h1>

{% if request.user.is_anonymous %}
  <p>Please Login</p>
{% else %}
  {% with pmt_user=request.user.userprofile %}

  <div class="object-action-set clearfix">
    <ul>
      <li class="object-action" title="Add tracker">
        <a href="#" class="object-action-link" data-toggle="modal"
        data-target="#add-tracker"><span class="glyphicon glyphicon-time"></span>
        <span class="object-action-text"><span class="hidden-xs">Add tracker</span><span class="visible-xs">Tracker</span></span></a>
      </li>
      <li class="object-action" title="Add trackers">
        <a href="{% url 'add_trackers' %}" class="object-action-link"><span class="glyphicon glyphicon-align-left"></span>
        <span class="object-action-text"><span class="hidden-xs">Add trackers</span><span class="visible-xs">Trackers</span></span></a>
      </li>
      <li class="object-action" title="My weekly report">
        <a href="/report/user/{{pmt_user.username}}/weekly/" class="object-action-link"><span class="glyphicon glyphicon-stats"></span>
        <span class="object-action-text"><span class="hidden-xs">My weekly report</span><span class="visible-xs">Weekly report</span></span></a>
      </li>
    </ul>
  </div><!-- ./object-action-set -->

<!-- ADD TRACKER -->
<div class="modal fade" id="add-tracker" role="dialog" aria-labelledby="add-tracker-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="add-tracker-label">Add Tracker</h4>
            </div>
            <div class="modal-body">
                <form id="add-tracker-form"
                      action="/drf/trackers/add/"
                      method="post" role="form">
                    {% csrf_token %}
                    <input type="hidden" name="pid" value="0" id="tracker-pid-input" />

                    <div class="row">
                        <div class="col-sm-10">
                            <select name="project"
                                    class="form-control select2"
                                    required="required"
                                    id="project-input">
                                <option value="" selected="selected">---------</option>
                                {% for p in projects %}
                                <option value="{{ p.pk }}">{{ p }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-7">
                            <input type="text" name="title" placeholder="Task"
                                   id="tracker-task-input"
                                   required="required"
                                   class="form-control"/>
                        </div>

                        <div class="col-sm-3">
                            <input type="text" name="client" placeholder="Client UNI"
                                   id="tracker-client-input"
                                   class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" name="time" placeholder="Time"
                                   id="tracker-time-input"
                                   class="form-control" />
                        </div>
                        {% include 'main/simpleduration_help.html' %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" form="add-tracker-form"
                        class="btn btn-primary" id="add-tracker-button">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% with pmt_user.progress_report as progress %}
    <div class="progressbar-set">
        <div class="progress-title">
            Weekly hours logged:
        </div><!-- ./progress-title -->
        <div class="progressbar-bar">
            <div class="progress">
                <div class="progress-bar {% if progress.behind %}progress-bar-warning{% else %}progress-bar-success{% endif %}"
                     role="progressbar"
                     aria-valuenow="{{progress.week_percentage}}" aria-valuemin="0"
                     aria-valuemax="100" style="width: {{progress.week_percentage}}%; text-align: right;">
                    <span class="progress-hours">{{progress.hours_logged|floatformat:"-2"}}</span>
                </div>
            </div>
        </div><!-- ./progressbar-bar -->
    </div><!-- ./progressbar-set -->
{% endwith %}


  {% with pmt_user.passed_open_milestones as overdue_milestones %}
  {% with pmt_user.open_owned_items as owned_items %}

  <ul class="nav nav-tabs project-tabs homepage-tabs">
    {% if overdue_milestones %}
      <li class="active"><a href="#overdue-milestones" data-toggle="tab">Overdue Milestones ({{overdue_milestones|length }})</a></li>
    <li>
        <a href="#outstanding-items" data-toggle="tab"
           >Outstanding Items
            ({{ pmt_user.items|length }})</a>
    </li>
    {% else %}
    <li class="active">
        <a href="#outstanding-items" data-toggle="tab"
           >Outstanding Items
            ({{ pmt_user.items|length }})</a>
    </li>
    {% endif %}
    <li>
        <a href="#owned-items" data-toggle="tab"
           >Owned Items
            ({{ owned_items|length }})</a>
    </li>
    <li>
        <a href="#subscribed-items" data-toggle="tab"
           >Subscribed Items
            ({{ subscribed_items|length }})</a>
    </li>
  </ul>

<div class="tab-content">

{% if overdue_milestones %}
  <div class="tab-pane fade in active" id="overdue-milestones">
    <div class="panel panel-danger">
    <div class="panel-heading"><b><span class="glyphicon glyphicon-exclamation-sign"></span> You have overdue milestones</b></div>
    <table class="table table-striped table-condensed">
    <tr>
      <th>Target Date</th>
      <th>Project</th>
      <th>Milestone</th>
      <th></th>
    </tr>
    {% for m in overdue_milestones %}
    <tr>
      <td>{{m.target_date|timesince}} ago ({{m.target_date}})</td>
      <td><a href="{{m.project.get_absolute_url}}">{{m.project.name}}</a></td>
      <td><a href="{{m.get_absolute_url}}">{{m.name}}</a></td>
      <td>{{m.active_items.count}} item{{m.active_items.count|pluralize}} blocking</td>
    </tr>
    {% endfor %}
    </table>
    </div>
  </div><!-- /#overdue-milestones -->
{% endif %}


{% if overdue_milestones %}
    <div class="tab-pane fade" id="outstanding-items">
{% else %}
    <div class="tab-pane fade in active" id="outstanding-items">
{% endif %}


{% if pmt_user.username %}
{% if pmt_user.items %}
<table class="table table-striped table-condensed table-responsive"
       id="user-items"
       data-show-columns="true"
       data-sort-name="priority"
       data-sort-order="desc">
    <thead>
        <tr>
            <th data-field="item"
                data-sortable="true">Item</th>
            <th data-field="priority"
                data-sortable="true" class="hidden-xs">Priority</th>
            <th data-field="project"
                data-sortable="true" class="hidden-xs">Project</th>
            <th data-field="target-date"
                data-sortable="true" class="hidden-xs">Target Date</th>
            <th data-field="milestone"
                data-sortable="true" class="hidden-xs">Milestone</th>
            <th data-field="owner"
                data-sortable="true" class="hidden-xs">Owner</th>
            <th data-field="modified"
                data-sortable="true" class="hidden-xs">Modified</th>
        </tr>
    </thead>
    <tbody>
        {% for item in pmt_user.items %}
        <tr>
            <td data-field="item">
                {% if item.is_bug %}
                <img src="{{STATIC_URL}}img/icon-bug.png"
                     width="14" height="14"/>
                {% endif %}
                <a href="{{item.get_absolute_url}}">
                    {{item.title|truncatechars:70|emoji_replace}}
                </a>
                {% if item.status != "OPEN" %}
                <span class="{{item.status_class}} badge pull-right">
                    {{item.status_display}}
                </span>
                {% endif %}
            </td>
            <td data-field="priority" class="pr{{item.priority}} hidden-xs pr">
                <span class="invisible">{{item.priority}}</span>
                {{item.priority_label}}
            </td>
            <td data-field="project" class="hidden-xs">
                <a href="{{item.milestone.project.get_absolute_url}}">
                    {{item.milestone.project.name|truncatechars:40}}
                </a>
            </td>
            <td data-field="target-date" class="{{item.target_date_status}} hidden-xs">
                {{item.target_date|date:"Y-m-d"}}
            </td>
            <td data-field="milestone" class="hidden-xs">
                <a href="{% url 'milestone_detail' item.milestone.mid %}">
                    {{item.milestone|truncatechars:40}}
                </a>
            </td>
            <td data-field="owner" class="hidden-xs">
                <a href="{% url 'user_detail' item.owner_user.userprofile.username %}">
                    {{item.owner_user.userprofile|truncatechars:40}}
                </a>
            </td>
            <td data-field="modified" class="hidden-xs">
                {{item.last_mod|date:"Y-m-d"}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>You have no active items right now.</p>
{% endif %}
{% comment %}pmt_user.items{% endcomment %}

{% else %}

{% endif %}
{% comment %}pmt_user.username{% endcomment %}
</div><!-- /#outstanding-items -->

<div class="tab-pane fade" id="owned-items">
{% if pmt_user.username %}
{% if owned_items %}
    <table class="table table-striped table-condensed table-responsive"
       id="owned-items">
    <thead>
        <tr>
            <th>Item</th>
            <th class="hidden-xs">Priority</th>
            <th class="hidden-xs">Target Date</th>
            <th>Assigned To</th>
            <th>Project</th>
            <th class="hidden-xs hidden-sm">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for item in owned_items %}
            {% include 'main/item_row.html' %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>This user has no outstanding owned items</p>
{% endif %}
{% comment %}pmt_user.open_owned_items{% endcomment %}

{% else %}
<div class="alert alert-danger">
</div>
{% endif %}
{% comment %}pmt_user.username{% endcomment %}
</div><!-- /#owned-items -->

<div class="tab-pane fade" id="subscribed-items">
{% if pmt_user.username %}
{% if owned_items %}
    <table class="table table-striped table-condensed table-responsive"
       id="subscribed-items">
    <thead>
        <tr>
            <th>Item</th>
            <th class="hidden-xs">Priority</th>
            <th class="hidden-xs">Target Date</th>
            <th>Assigned To</th>
            <th>Project</th>
            <th class="hidden-xs hidden-sm">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for item in subscribed_items %}
            {% include 'main/item_row.html' %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>This user has no subscribed items</p>
{% endif %}
{% endif %}<!-- ./subscribed-items -->

</div><!-- ./tab-content -->

{% endwith %}
{% comment %}overdue_milestones{% endcomment %}
{% endwith %}
{% endwith %}
{% endif %}
{% comment %}request.user.is_anonymous{% endcomment %}

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    {% with pmt_user=request.user.userprofile %}
    {% with pmt_user.open_owned_items as owned_items %}
    {% if pmt_user.items %}
    var table = $('table#user-items').DataTable({
        aoColumnDefs: [
            { bVisible: false, aTargets: [4, 6] }
        ],
        dom: 'Bfrtip',
        buttons: [{
            extend: 'collection',
            text: 'Show / hide columns',
            fade: 0,
            buttons: [
                'columnsVisibility'
            ],
            visibility: true
        }],
        language: {
            search: "Filter"
        },
        searching: true
    });
    table.order([1, 'desc'], [3, 'asc']).draw();
    {% endif %}
    {% if owned_items %}
     var ownedTable = $("table#owned-items").DataTable({
         dom: 'Bfrtip',
         buttons: [{
             extend: 'collection',
             text: 'Show / hide columns',
             fade: 0,
             buttons: [
                 'columnsVisibility'
             ],
             visibility: true
         }],
         language: {
             search: "Filter"
         },
         searching: true
     });
     ownedTable.order([1, 'desc'], [2, 'asc']).draw()
     {% endif %}
         {% if subscribed_items %}
         var subscribedTable = $("table#subscribed-items").DataTable({
             dom: 'Bfrtip',
             buttons: [{
                 extend: 'collection',
                 text: 'Show / hide columns',
                 fade: 0,
                 buttons: [
                     'columnsVisibility'
                 ],
                 visibility: true
             }],
             language: {
                 search: "Filter"
             },
             searching: true
         });
     subscribedTable.order([1, 'desc'], [2, 'asc']).draw()
         {% endif %}
    {% endwith %}
    {% endwith %}
});
</script>
{% endblock %}
