{% load emoji_tags %}
<tr>
    <td>
        {% if item.is_bug %}
            <img src="{{STATIC_URL}}img/tinybug.gif"
                 width="14" height="14"/>
        {% endif %}
        <a href="{% url 'item_detail' item.iid %}">
            {{item.title|truncatechars:70|emoji_replace}}
        </a>
    </td>
    <td class="pr{{item.priority}} hidden-xs">
        <span class="invisible">
            {{item.priority}}
        </span>
        {{item.priority_label}}
    </td>
    <td class="{{item.target_date_status}} hidden-xs">
        {{item.target_date|date:"Y-m-d"}}
    </td>
    <td>
        <a href="{% url 'user_detail' item.assigned_to.username %}">
            {{item.assigned_to.fullname}}
        </a>
    </td>
    <td>
        <a href="{% url 'project_detail' item.milestone.project.pid %}">
            {{item.milestone.project.name}}
        </a>
    </td>
    <td class="{{item.status_class}} hidden-xs hidden-sm">
        {{item.status}}
    </td>
</tr>
