{% extends 'base.html' %}
{% load markup %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}
<ul class="breadcrumb">
  <li><a href="{{item.milestone.project.get_absolute_url }}">{{item.milestone.project.name}}</a> <span class="divider">/</span></li>
  <li><a href="{{item.milestone.get_absolute_url }}">{{item.milestone.name}}</a></li>
</ul>
<h1>#{{item.iid}} {% if item.is_bug %}BUG:{% endif %} {{item.title}}</h1>

<dl class="dl-horizontal">
<dt>STATUS<dt><dd>{{ item.status }} {{item.r_status}}</dd>
<dt>OWNER<dt><dd><a href="{{item.owner.get_absolute_url}}">{{item.owner}}</a></dd>
<dt>ASSIGNED<dt><dd><a href="{{item.assigned_to.get_absolute_url}}">{{item.assigned_to}}</a></dd>
<dt>PRIORITY<dt><dd>{{item.priority}}</dd>
<dt>TARGET DATE<dt><dd>{{item.target_date}}</dd>
{% if item.estimated_time %}
<dt>ESTIMATED TIME<dt><dd>{{item.estimated_time}}</dd>
{% endif %}
{% if item.url %}
<dt>URL<dt><dd>{{item.url}}</dd>
{% endif %}
<dt>LAST MOD<dt><dd>{{item.last_mod}}</dd>
</dl>
<hr />
{{item.description|markdown}}
<hr />
ADD COMMENT
ADD TIME
CHANGE STATUS
EDIT
<hr />

<h2>HISTORY</h2>

<table class="table">
{% for history_item in item.history %}
<tr>
<td>{{history_item.status}}</td>
<td>
{{history_item.user}}
</td>
<td>
{{history_item.timestamp}}
</td>
<td>
{{history_item.comment|safe}}
</td>
</tr>
{% endfor %}
</table>

{% endblock %}
