{% extends 'base.html' %}
{% load markup %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}
<ul class="breadcrumb">
  <li><a href="{{item.milestone.project.get_absolute_url }}">{{item.milestone.project.name}}</a> <span class="divider">/</span></li>
  <li><a href="{{item.milestone.get_absolute_url }}">{{item.milestone.name}}</a></li>
</ul>
<h1>#{{item.iid}} {% if item.is_bug %}BUG:{% endif %} {{item.title}}</h1>

STATUS {{ item.status }} {{item.r_status}}<br />
OWNER <a href="{{item.owner.get_absolute_url}}">{{item.owner}}</a><br />
ASSIGNED <a href="{{item.assigned_to.get_absolute_url}}">{{item.assigned_to}}</a><br />
PRIORITY: {{item.priority}}<br />
TARGET DATE: {{item.target_date}}<br />
ESTIMATED TIME {{item.estimated_time}}<br />
URL: {{item.url}}<br />
LAST_MOD: {{item.last_mod}}<br />
NOTIFICATION <br />
<hr />
{{item.description|markdown}}
<hr />
ADD COMMENT
ADD TIME
CHANGE STATUS
EDIT
<hr />
<h2>HISTORY</h2>
{% for event in item.events_set.all %}
{{event.event_date_time}}: {{event.status}}<br />
{% endfor %}
<h2>COMMENTS</h2>
{% for comment in item.comment_set.all %}
{{comment.add_date_time}}: {{comment.username}}:
{{comment.comment|safe}}<br />
{% endfor %}

{% endblock %}
