{% extends 'base.html' %}
{% load markup %}
{% load waffle_tags %}

{% block title %}Item: {{object.title}}{% endblock %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}
<ul class="breadcrumb">
  <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
  <li><a href="{{object.milestone.project.get_absolute_url }}">{{object.milestone.project.name}}</a></li>
  <li><a href="{{object.milestone.get_absolute_url }}">{{object.milestone.name}}</a></li>
</ul>

<p class="pull-right"><a href="edit/" class="btn btn-primary btn-xs"
												 title="edit"><span class="glyphicon glyphicon-edit"></span> edit</a></p>

<h1>#{{object.iid}} {% if object.is_bug %}BUG:{% endif %} {{object.title}}</h1>

<ul class="nav nav-pills">
	<li><a href="http://pmt.ccnmtl.columbia.edu/item/{{object.iid}}/">Return to the old PMT</a></li>
</ul>

<div class="modal fade" id="add-hours" tabindex="-1" role="dialog" aria-labelledby="add-tracker-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="add-tracker-label">Log Time</h4>
      </div>
      <div class="modal-body">
				<form id="add-tracker-form" action="/api/1.0/tracker/add/" method="post" role="form">
					<input type="hidden" name="pid" value="{{object.pid}}" id="tracker-pid-input" />

					<div class="row">
						<div class="col-sm-3">
							<input type="text" name="time" placeholder="time"
										 id="tracker-time-input"
										 class="form-control" />
						</div>
					</div>
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-tracker-button">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% if object.resolvable %}
<form action="resolve/" method="post" role="form">
<div class="modal fade" id="resolve" tabindex="-1" role="dialog" aria-labelledby="resolve-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="resolve-label">Resolve Item</h4>
      </div>
      <div class="modal-body">
				<div class="form-group">
					<label for="resolve-status">Resolve Status</label>
					<select class="form-control" id="resolve-status" name="r_status">
						<option value="FIXED">FIXED</option>
						<option value="INVALID">INVALID</option>
						<option value="WORKSFORME">WORKSFORME</option>
						<option value="WONTFIX">WONTFIX</option>
						<option value="DUPLICATE">DUPLICATE</option>
						<option value="NEEDINFO">NEEDINFO</option>
					</select>
				</div>

				<div class="form-group">
					<textarea name="comment" class="form-control" rows="5"></textarea>
				</div>

				<div class="form-group">
					<label for="resolve-time-input">Time</label>
					<input type="text" name="time" placeholder="time"
								 id="resolve-time-input"
								 class="form-control" />
				</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Resolve" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>
{% endif %}

{% if object.inprogressable %}
<form action="inprogress/" method="post" role="form">
<div class="modal fade" id="mark-in-progress" tabindex="-1" role="dialog" aria-labelledby="inprogress-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="inprogress-label">Mark as In Progress</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <textarea name="comment" class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
              <label for="progress-time-input">Time</label>
              <input type="text" name="time" placeholder="time"
              id="progress-time-input"
              class="form-control" />
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Mark as In Progress" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>
{% endif %}

{% if object.verifiable %}
<form action="verify/" method="post" role="form">
<div class="modal fade" id="verify" tabindex="-1" role="dialog" aria-labelledby="verify-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="verify-label">Verify</h4>
      </div>
      <div class="modal-body">
				<div class="form-group">
					<textarea name="comment" class="form-control" rows="5"></textarea>
				</div>
      </div>
				<div class="form-group">
					<label for="verify-time-input">Time</label>
					<input type="text" name="time" placeholder="time"
								 id="verify-time-input"
								 class="form-control" />
				</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Verify" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>
{% endif %}

{% if object.reopenable %}
<form action="reopen/" method="post" role="form">
<div class="modal fade" id="reopen" tabindex="-1" role="dialog" aria-labelledby="reopen-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="reopen-label">Reopen</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <textarea name="comment" class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
              <label for="reopen-time-input">Time</label>
              <input type="text" name="time" placeholder="time"
              id="reopen-time-input"
              class="form-control" />
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Reopen" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>
{% endif %}

<form action="comment/" method="post" role="form">
<div class="modal fade" id="add-comment" tabindex="-1" role="dialog" aria-labelledby="add-comment-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="add-comment-label">Add Comment</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <textarea name="comment" class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
              <label for="comment-time-input">Time</label>
              <input type="text" name="time" placeholder="time"
              id="comment-time-input"
              class="form-control" />
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Add Comment" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>

{% flag s3_upload %}
<form action="add_attachment/" method="post" role="form">
<div class="modal fade" id="add-attachment" tabindex="-1" role="dialog" aria-labelledby="add-attachment-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="add-attachment-label">Add Attachment</h4>
      </div>
      <div class="modal-body">
          <p id="status">Please select a file</p>
          <div class="form-group">
              <input type="file" id="file" onchange="s3_upload();"/>
          </div>
          <input type="hidden" name="s3_url" id="uploaded-url" />
          <div class="form-group">
              <label>Title</label>
              <input type="text" name="title" placeholder="title"
              class="form-control" />
          </div>
          <div class="form-group">
              <label>Description</label>
              <textarea name="description" class="form-control" rows="5"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Add
        Attachment" id="add-attachment-submit" disabled />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>
{% endflag %}

<form action="split/" method="post" role="form">
<div class="modal fade" id="split" tabindex="-1" role="dialog" aria-labelledby="split-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="split-label">Split Item</h4>
      </div>
      <div class="modal-body">
					<div class="form-group">
						<input type="text" name="title_0" class="form-control" placeholder="new sub-item title" />
					</div>

					<div class="form-group">
						<input type="text" name="title_1" class="form-control" placeholder="new sub-item title" />
					</div>

					<div class="form-group">
						<input type="text" name="title_2" class="form-control" placeholder="new sub-item title" />
					</div>

					<div class="form-group">
						<input type="text" name="title_3" class="form-control" placeholder="new sub-item title" />
					</div>

					<div class="form-group">
						<input type="text" name="title_4" class="form-control" placeholder="new sub-item title" />
					</div>

					<div class="form-group">
						<input type="text" name="title_5" class="form-control" placeholder="new sub-item title" />
					</div>

					<div class="form-group">
						<input type="text" name="title_6" class="form-control" placeholder="new sub-item title" />
					</div>

					<div class="form-group">
						<input type="text" name="title_7" class="form-control" placeholder="new sub-item title" />
					</div>

					<div class="form-group">
						<input type="text" name="title_8" class="form-control" placeholder="new sub-item title" />
					</div>

					<div class="form-group">
						<input type="text" name="title_9" class="form-control" placeholder="new sub-item title" />
					</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Split Item" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>


<form action="assigned_to/" method="post" role="form">
<div class="modal fade" id="reassign" tabindex="-1" role="dialog" aria-labelledby="reassign-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="reassign-label">Reassign</h4>
      </div>
      <div class="modal-body">
				<div class="form-group">
					<label for="assign-to-select">Assign To</label>
					<select name="assigned_to" class="form-control" id="assign-to-select">
						{% for user in item.milestone.project.all_personnel_in_project %}
						<option value="{{user.username}}"
										{% ifequal user.username item.assigned_to.username %}
										selected="selected"
										{% endifequal %}>{{user.fullname}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<textarea name="comment" class="form-control" rows="5" placeholder="comment"></textarea>
				</div>

				<div class="form-group">
					<label for="reassign-time-input">Time</label>
					<input type="text" name="time" placeholder="time"
								 id="reassign-time-input"
								 class="form-control" />
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Reassign" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>

<form action="owner/" method="post" role="form">
<div class="modal fade" id="change-owner" tabindex="-1" role="dialog" aria-labelledby="reassign-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="reassign-label">Change Owner</h4>
      </div>
      <div class="modal-body">
				<div class="form-group">
					<label for="assign-to-select">Owner</label>
					<select name="owner" class="form-control" id="assign-to-select">
						{% for user in item.milestone.project.all_personnel_in_project %}
						<option value="{{user.username}}"
										{% ifequal user.username item.owner.username %}
										selected="selected"
										{% endifequal %}>{{user.fullname}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<textarea name="comment" class="form-control" rows="5" placeholder="comment"></textarea>
				</div>
				<div class="form-group">
					<label for="owner-time-input">Time</label>
					<input type="text" name="time" placeholder="time"
								 id="owner-time-input"
								 class="form-control" />
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Change Owner" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>


<dl class="dl-horizontal">
<dt>STATUS<dt><dd><span class="{{object.status_class}}">{{ object.status }} {{object.r_status|default:""}}</span></dd>
<dt>OWNER<dt>
		<dd>
			<a href="{{object.owner.get_absolute_url}}">{{object.owner}}</a>
			<a class="btn btn-default btn-xs" href="#" data-toggle="modal"
				 data-target="#change-owner" title="change-owner"><span class="glyphicon glyphicon-edit"></a>
		</dd>
<dt>ASSIGNED<dt>
		<dd>
			<a href="{{object.assigned_to.get_absolute_url}}">{{object.assigned_to}}</a>
			<a class="btn btn-default btn-xs" href="#" data-toggle="modal"
				 data-target="#reassign" title="reassign item"><span class="glyphicon glyphicon-edit"></a>

</dd>
<dt>PRIORITY<dt>
		<dd>
			<span class="pr{{object.priority}}">{{object.priority_label}}</span>
			<span class="priority-select">
			CHANGE TO: 
			{% ifequal object.priority 0 %}{% else %}<a href="priority/0/" class="pr0 btn btn-default btn-xs">ICING</a>{% endifequal %}
			{% ifequal object.priority 1 %}{% else %}<a href="priority/1/" class="pr1  btn btn-default btn-xs">LOW</a>{% endifequal %}
			{% ifequal object.priority 2 %}{% else %}<a href="priority/2/" class="pr2 btn btn-default btn-xs">MEDIUM</a>{% endifequal %}
			{% ifequal object.priority 3 %}{% else %}<a href="priority/3/" class="pr3 btn btn-default btn-xs">HIGH</a>{% endifequal %}
			{% ifequal object.priority 4 %}{% else %}<a href="priority/4/" class="pr4 btn btn-default btn-xs">CRITICAL</a>{% endifequal %}
			</span>
</dd>
<dt>TARGET DATE<dt><dd>{{object.target_date}}</dd>
{% if object.estimated_time %}
<dt>ESTIMATED TIME<dt><dd>{{object.estimated_time}}</dd>
{% endif %}
{% if object.actualtime_set.count %}
<dt>TIME LOGGED</dt>
<dd>
{% for at in object.actualtime_set.all %}
<ul>
	<li>{{at.actual_time}} <a href="{{at.resolver.get_absolute_url}}">{{at.resolver.fullname}}</a>
	{{at.completed}}</li>
</ul>
{% endfor %}
</dd>
{% endif %}
{% if object.url %}
<dt>URL<dt><dd>{{object.url}}</dd>
{% endif %}
<dt>LAST MOD<dt><dd>{{object.last_mod}}</dd>

<dt>TAGS</dt>
<dd>
{% if object.tags %}
{% for tag in object.tags.all %}
<span class="tag">
<a href="/tag/{{tag.slug}}/"><span class="label label-info">{{tag}}</span></a>
<a href="remove_tag/{{tag.slug}}/" class="remove-link">x</a>
</span>
{% endfor %}
<br />
{% endif %}
<form action="tag/" method="post">
<div class="input-group">
<input class="form-control" type="text" placeholder="add tags (comma seperated)" name="tags" />
<span class="input-group-btn"><input type="submit" value="tag" class="btn btn-default" /></span>
</div>
</dd>

{% flag notification_ui %}
<span id="item-id" style="display: none;">{{object.iid}}</span>

<div id="item-container"></div>

<dt>NOTIFICATIONS</dt>
<dd>
<div class="input-group" id="item-notification-container">
<label
    class="disabled"
    for="input_notification">

    <input
        {% if assigned_to_current_user %}
            disabled="disabled"
        {% endif %}
        {% if notifications_enabled_for_current_user %}
            checked="checked"
        {% endif %}
        class="form-control"
        type="checkbox"
        placeholder="add tags (comma seperated)"
        name="input_notification"
        id="input_notification" />
    Notify me of changes to this action item
</label>
</div>
</dd>

{% if clients %}
<dt>CLIENTS</dt>
{% for client in clients %}
<dd>
    <a href="{% url 'client_detail' client.client_id %}">
        {{client.firstname}} {{client.lastname}}
    </a>
</dd>
{% endfor %}
{% endif %}

<script type="text/template" id="item-template">
</script>
{% endflag %}
</form>
</dl>

<hr />
{{object.description|markdown}}
<hr />

<div class="btn-toolbar">
<div class="btn-group">
{% if object.resolvable %}
	<a class="btn btn-success" href="#" data-toggle="modal"
		 data-target="#resolve"><span class="glyphicon
		 glyphicon-ok"></span> Resolve</a>
{% endif %}

{% if object.inprogressable %}
	<a class="btn btn-default" href="#" data-toggle="modal"
		 data-target="#mark-in-progress">Mark as In-Progress</a>
{% endif %}

{% if object.verifiable %}
	<a class="btn btn-success" href="#" data-toggle="modal"
		 data-target="#verify"><span class="glyphicon
		 glyphicon-ok"></span> Verify</a>
{% endif %}

{% if object.reopenable %}
	<a class="btn btn-danger" href="#" data-toggle="modal"
		 data-target="#reopen"><span class="glyphicon
		 glyphicon-repeat"></span> Reopen</a>
{% endif %}
</div>
<div class="btn-group pull-right">
	<a class="btn btn-primary" href="#" data-toggle="modal"
	data-target="#add-comment"><span class="glyphicon
		 glyphicon-comment"> Add Comment</a>
{% flag s3_upload %}
	<a class="btn btn-primary" href="#" data-toggle="modal"
		 data-target="#add-attachment"><span class="glyphicon
		 glyphicon-upload"> Add Attachment</a>
{% endflag %}
	<a class="btn btn-primary" href="#" data-toggle="modal"
	data-target="#add-hours"><span class="glyphicon
		 glyphicon-time"> Log Time</a>
	<a class="btn btn-primary" href="#" data-toggle="modal"
		 data-target="#split">Split Item</a>
</div>
</div>


{% if item.attachment_set.all.count %}
<h2>Attachments</h2>

<table class="table table-condensed">
	{% for attachment in item.attachment_set.all %}
	<tr>
		<td>
			{{attachment.title|default:attachment.filename}}
		</td>
		<td><i>[{{attachment.last_mod}}]</i></td>
		<td>{{attachment.author.fullname}}</td>
		<td><a href="{% url 'delete_attachment' attachment.id %}" class="btn btn-xs
		btn-danger" title="delete attachment"><span class="glyphicon glyphicon-trash"></a>
		</td>
	</tr>
	{% if attachment.image %}
	<tr><td colspan="4">
			{% if attachment.url %}
			<img src="{{attachment.url}}" />
			{% else %}
			<img src="{{attachment.src}}" />
			{% endif %}
			{{attachment.description|markdown}}
	</td></tr>
	{% else %}
	<tr>
		<td colspan="4">
			{{attachment.description|markdown}}
			{% if attachment.url %}
			<p><a href="{{attachment.url}}">Download</a></p>
			{% else %}
			<div class="alert alert-warning">sorry, DMT does not yet support the old PMT
				attachments. For now, to view/download this one, 
				you will need to <a href="http://pmt.ccnmtl.columbia.edu/item/{{object.iid}}/">go back to the PMT</a></div>
			{% endif %}
	</td>
	</tr>
	{% endif %}
{% endfor %}
</table>
{% endif %}


<h2>HISTORY</h2>

<table class="table">
{% for history_item in object.history %}
<tr>
<td class="{{history_item.status_class}}">{{history_item.status}}</td>
<td>
by <a href="{{history_item.user.get_absolute_url}}">{{history_item.user.fullname}}</a><br />
<nobr>at {{history_item.timestamp}}</nobr>
</td>
<td>
{{history_item.comment|safe}}
</td>
</tr>
{% endfor %}
</table>

{% endblock %}


{% block js %}
{% flag s3_upload %}
<script src="{{STATIC_URL}}js/libs/s3upload.js"></script>

<script>
function s3_upload() {
    var s3upload = new S3Upload({
        file_dom_selector: 'file',
        s3_sign_put_url: '/sign_s3/',
        s3_object_name: $('#file')[0].value,

        onProgress: function(percent, message) {
            $('#status').html('Upload progress: ' + percent + '%' + message);
        },
        onFinishS3Put: function(url) {
            if (/(jpg|gif|png)$/.test(url)) {
                $('#status').html(
                    '<img src="' +
                    url +
                    '" style="max-width:100%; max-height:200px;" />');
            }
            $('#uploaded-url').val(url);
            $('#add-attachment-submit').removeAttr("disabled");
        },
        onError: function(status) {
            $('#status').html('Upload error: ' + status);
        }
    });
}
</script>

{% endflag %}

{% flag notification_ui %}
<script data-main="{{STATIC_URL}}js/src/item"
				src="{{STATIC_URL}}js/libs/require/require.js"></script>
{% endflag %}
<script>
$(document).ready(function() 
    { 
        $("#add-tracker-button").click(function(event) {
           var time = $("#tracker-time-input").val();

           $.ajax({
             type: "POST",
             url: "/api/1.0/items/{{object.iid}}/hours/",
             data: {time: time}
           }).done(function (msg) {
              window.location.reload();
           });
           event.preventDefault();
        });
    } 
);
</script>
{% endblock %}
