{% extends 'base.html' %}
{% load bootstrap %}

{% block css %}
<link rel="stylesheet" href="{{STATIC_URL}}bootstrap-datepicker/css/datepicker.css">
{% endblock %}

{% block content %}
<div class="form-group pull-right">
	<a class="btn btn-xs btn-danger"
		 href="{{object.get_absolute_url}}delete/"
		 ><span class="glyphicon glyphicon-trash"></span>
		delete</a>
	<a class="btn btn-xs btn-primary"
		 href="{% url 'item-move-project' object.iid %}">move to another project</a>
</div>


<form action="." method="post">{% csrf_token %}
<fieldset><legend>Edit Item</legend>
{{form|bootstrap}}
<a href="{{object.get_absolute_url}}" class="btn btn-default">Cancel</a>
<input type="submit" value="Save" class="btn btn-primary" />
</fieldset>
</form>

{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script>
$(document).ready(function() {
    $('#id_target_date').datepicker({
        autoclose: true,
        format: 'yyyy-mm-dd',
        todayHighlight: true
    });
});
</script>
{% endblock %}
