{% extends 'base.html' %}
{% load markup %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}
<ul class="breadcrumb">
  <li><a href="{{object.milestone.project.get_absolute_url }}">{{object.milestone.project.name}}</a> <span class="divider">/</span></li>
  <li><a href="{{object.milestone.get_absolute_url }}">{{object.milestone.name}}</a></li>
</ul>
<h1>#{{object.iid}} {% if object.is_bug %}BUG:{% endif %} {{object.title}}</h1>

<ul class="nav nav-pills">
	<li><a href="http://pmt.ccnmtl.columbia.edu/item/{{object.iid}}/">Return to the old PMT</a></li>
	<li><a href="#" data-toggle="modal"
	data-target="#add-hours">Log Time</a></li>
</ul>

<div class="modal fade" id="add-hours" tabindex="-1" role="dialog" aria-labelledby="add-tracker-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="add-tracker-label">Log Time</h4>
      </div>
      <div class="modal-body">
				<form id="add-tracker-form" action="/api/1.0/tracker/add/" method="post" role="form">
					<input type="hidden" name="pid" value="{{object.pid}}" id="tracker-pid-input" />

					<div class="row">
						<div class="col-sm-3">
							<input type="text" name="time" placeholder="time"
										 id="tracker-time-input"
										 class="form-control" />
						</div>
					</div>
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-tracker-button">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<dl class="dl-horizontal">
<dt>STATUS<dt><dd><span class="{{object.status_class}}">{{ object.status }} {{object.r_status}}</span></dd>
<dt>OWNER<dt><dd><a href="{{object.owner.get_absolute_url}}">{{object.owner}}</a></dd>
<dt>ASSIGNED<dt><dd><a href="{{object.assigned_to.get_absolute_url}}">{{object.assigned_to}}</a></dd>
<dt>PRIORITY<dt><dd><span class="pr{{object.priority}}">{{object.priority_label}}</span></dd>
<dt>TARGET DATE<dt><dd>{{object.target_date}}</dd>
{% if object.estimated_time %}
<dt>ESTIMATED TIME<dt><dd>{{object.estimated_time}}</dd>
{% endif %}
{% if object.actualtime_set.count %}
<dt>TIME LOGGED</dt>
<dd>
{% for at in object.actualtime_set.all %}
<ul>
	<li>{{at.actual_time}} <a href="{{at.resolver.get_absolute_url}}">{{at.resolver.fullname}}</a>
	{{at.completed}}</li>
</ul>
{% endfor %}
</dd>
{% endif %}
{% if object.url %}
<dt>URL<dt><dd>{{object.url}}</dd>
{% endif %}
<dt>LAST MOD<dt><dd>{{object.last_mod}}</dd>
</dl>
<hr />
{{object.description|markdown}}
<hr />

<h2>HISTORY</h2>

<table class="table">
{% for history_item in object.history %}
<tr>
<td class="{{history_item.status_class}}">{{history_item.status}}</td>
<td>
<a href="{{history_item.user.get_absolute_url}}">{{history_item.user.fullname}}</a>
</td>
<td>
<nobr>{{history_item.timestamp}}</nobr>
</td>
<td>
{{history_item.comment|safe}}
</td>
</tr>
{% endfor %}
</table>

{% endblock %}


{% block js %}
<script>
$(document).ready(function() 
    { 
        $("#add-tracker-button").click(function(event) {
           var time = $("#tracker-time-input").val();

           $.ajax({
             type: "POST",
             url: "/api/1.0/items/{{object.iid}}/hours/",
             data: {time: time}
           }).done(function (msg) {
              window.location.reload();
           });
           event.preventDefault();
        });
    } 
);
</script>

{% endblock %}
