{% extends 'base.html' %}

{% block title %}Milestone: {{object.name}}{% endblock %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}
<ul class="breadcrumb">
  <li><a href="{{object.project.get_absolute_url }}">{{object.project.name}}</a> <span class="divider">/</span></li>
	<li class="active">{{object.name}}</li>
</ul>
<h1>Milestone: {{object.name}}</h1>

{% if object.item_set.count %}
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Target Date</th>
			<th>Owner</th>
			<th>Assigned To</th>
			<th>Last Modified</th>
		</tr>
	</thead>

	<tbody>
		{% for item in object.item_set.all %}
		<tr>
			<td>{% if item.is_bug %}<img src="{{STATIC_URL}}img/tinybug.gif"
	width="14" height="14"/> {% endif %}<a href="{{item.get_absolute_url}}">{{item.title}}</a></td>
			<td class="{{item.status_class}}">{{item.status}}</td>
			<td class="pr{{item.priority}}">{{item.priority_label}}</td>
			<td>{{item.target_date|date:"Y-m-d"}}</td>
			<td><a href="{{item.owner.get_absolute_url}}">{{item.owner}}</a></td>
			<td><a href="{{item.assigned_to.get_absolute_url}}">{{item.assigned_to}}</a></td>
			<td>{{item.last_mod|date:"Y-m-d"}}</td>
		</tr>
		{% endfor %}
	</tbody>

</table>
{% endif %}
{% endblock %}
