{% extends 'base.html' %}
{% load markup %}
{% load emoji_tags %}
{% load dmttags %}
{% load waffle_tags %}
{% load static %}

{% block title %}Milestone&ndash;{{object.name}}{% endblock %}
{% block extraclass %} class="milestone-page"{% endblock %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}

<p class="project-breadcrumb">
  <a href="{{object.project.get_absolute_url }}" class="project breadcrumb-item" data-toggle="tooltip" data-placement="bottom" title="View this project">{{object.project.name}}</a>
</p>


<h1 class="page-title no-margin no-padding">Milestone &#8226; {{object.name}}</h1>

{% comment %}<p class="pull-right"><a href="edit/" class="btn btn-primary btn-xs"
                                                 title="edit"><span class="glyphicon glyphicon-edit"></span> edit</a></p>
{% endcomment %}


<div class="object-box clearfix">

  <div class="object-action-set clearfix">
    <ul>
      <li class="object-action" title="Edit milestone">
        <a href="edit/" class="object-action-link"><span class="glyphicon glyphicon-pencil"></span>
        <span class="object-action-text hidden-xs hidden-sm">Edit milestone</span></a>
      </li>
      <li class="object-action" title="Add action item">
          <a href="{% url 'item_create' %}?mid={{object.pk}}"
             class="object-action-link">
              <span class="glyphicon glyphicon-check"></span>
              <span class="object-action-text hidden-xs hidden-sm">
                  Add action item
              </span>
          </a>
      </li>
      {% flag bug_form %}
      <li class="object-action" title="Add bug">
          <a href="{% url 'bug_create' %}?mid={{object.pk}}"
             class="object-action-link">
              <span class="icon-add-bug"></span>
              <span class="object-action-text hidden-xs hidden-sm">
                  Add bug
              </span>
          </a>
      </li>
      {% endflag %}
    </ul>
  </div><!-- ./object-action-set -->

  <div class="object-details">
    <div class="object-description">{{object.description|commonmark|linkify|emoji_replace}}</div>

    <dl class="dl-horizontal">
      <dt>Status</dt>
      <dd><span class="{{object.status_class}}">{{ object.status }}</span>
      {% if object.target_date_passed %}
      and <span class="late"><b>OVERDUE</b></span>
      {% endif %}
      </dd>

      <dt>Target date</dt>
      <dd>{{object.target_date|date:"Y-m-d"}}</dd>

      <dt>Hours:</dt>
      <dd><b>{{object.hours_completed|floatformat}}</b> completed and <b>{{object.estimated_time_remaining|floatformat}}</b> remaining,
      of <b>{{object.total_estimated_hours|floatformat}}</b> total estimated</dd>
    </dl>
  </div><!-- /.object-details -->

</div><!-- /.object-box -->


{% if object.item_set.exists %}
<form method="post">{% csrf_token %}
    <div class="actions form-inline">
        <label>
            Action: <select name="action" required="" class="form-control input-sm">
            <option value="" selected="selected">---------</option>
            <option value="move">Move selected</option>
            <option value="assign">Re-assign selected</option>
            </select>
        </label>
        <label class="assign-to hidden">
            Re-assign to: <select name="assigned_to" class="form-control input-sm">
            <option value="" selected="selected">---------</option>
            {% for user in object.project.all_personnel_in_project %}
                <option value="{{user.username}}">{% firstof user.fullname user.username %}</option>
            {% endfor %}
            </select>
        </label>
        <label class="move-to-milestone hidden">
            Move to: <select name="move_to" class="form-control input-sm">
            <option value="" selected="selected">---------</option>
            {% for m in object.project.open_milestones %}
                <option value="{{m.pk}}">{{ m.name }}</option>
            {% endfor %}
            </select>
        </label>
        <button type="submit" class="btn btn-primary btn-sm"
                title="Run the selected action">Go</button>

        <span class="action-counter help-block"
              data-actions-icnt="{{object.item_set.count}}"
              style="display: inline;">
            0 of {{object.item_set.count}} selected
        </span>
    </div>
<table class="table table-condensed table-striped tablesorter tablesorter-default">
    <thead>
        <tr>
            <th scope="col" class="action-checkbox-column" data-sorter="false">
                <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                <div class="clear"></div>
            </th>
            <th>Title</th>
            <th>Status</th>
            <th class="hidden-xs">Priority</th>
            <th class="hidden-xs">Target Date</th>
            <th class="hidden-sm hidden-xs">Owner</th>
            <th class="hidden-xs">Assigned To</th>
            <th class="hidden-sm hidden-xs">Modified</th>
        </tr>
    </thead>

    <tbody>
        {% for item in object.sorted_items %}
            <tr>
                <td class="action-checkbox">
                    <input class="action-select"
                           name="_selected_action"
                           type="checkbox"
                           value="{{item.pk}}">
                </td>
            <td>{% if item.is_bug %}<img src="{{STATIC_URL}}img/tinybug.gif"
               width="14" height="14"/> {% endif %}<a href="{{item.get_absolute_url}}">{{item.title|truncatechars:70|emoji_replace}}</a></td>
            <td class="{{item.status_class}} ">{% firstof item.r_status item.status %}</td>
            <td class="pr{{item.priority}} hidden-xs">{{item.priority_label}}</td>
            <td class="hidden-xs" class="{{item.target_date_status}}">{{item.target_date|date:"Y-m-d"}}</td>
            <td class="hidden-sm hidden-xs">
                <a href="{{item.owner_user.userprofile.get_absolute_url}}">
                    {{item.owner_user.userprofile}}
                </a>
            </td>
            <td class="hidden-xs"><a href="{{item.assigned_user.userprofile.get_absolute_url}}">{{item.assigned_user.userprofile}}</a></td>
            <td class="hidden-sm hidden-xs">{{item.last_mod|date:"Y-m-d"}}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
</form>
{% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $(document).ready(function()  {
            {% if object.item_set.exists %}
            $("table.tablesorter").tablesorter({
                sortList: [[2,0], [4,1]]
            });
            {% endif %}
            $('select[name="action"]').change(function(e) {
                var selected = $(this).find(':selected')[0].value;
                if (selected === 'assign') {
                    $('.move-to-milestone').addClass('hidden');
                    $('.assign-to').removeClass('hidden');
                } else if (selected === 'move') {
                    $('.assign-to').addClass('hidden');
                    $('.move-to-milestone').removeClass('hidden');
                } else {
                    $('.assign-to,.move-to-milestone').addClass('hidden');
                }
            });
        });
    </script>

    <script src="/admin/jsi18n/"></script>
    <script>
    // A modified version of django's admin/js/jquery.init.js
    var django = django || {};
    django.jQuery = jQuery;
    </script>
    <script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
{% endblock %}
