{% extends 'base.html' %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}
<ul class="breadcrumb">
  <li><a href="{{milestone.project.get_absolute_url }}">{{milestone.project.name}}</a> <span class="divider">/</span></li>
	<li class="active">{{milestone.name}}</li>
</ul>
<h1>Milestone: {{milestone.name}}</h1>

{% if milestone.item_set.count %}
<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Target Date</th>
			<th>Owner</th>
			<th>Assigned To</th>
			<th>Last Modified</th>
		</tr>
	</thead>

	<tbody>
		{% for item in milestone.item_set.all %}
		<tr>
			<td><a href="{{item.get_absolute_url}}">{{item.title}}</a></td>
			<td class="{{item.status_class}}">{{item.status}}</td>
			<td>{{item.priority}}</td>
			<td>{{item.target_date}}</td>
			<td><a href="{{item.owner.get_absolute_url}}">{{item.owner}}</a></td>
			<td><a href="{{item.assigned_to.get_absolute_url}}">{{item.assigned_to}}</a></td>
			<td>{{item.last_mod}}</td>
		</tr>
		{% endfor %}
	</tbody>

</table>
{% endif %}
{% endblock %}
