{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Projects{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{STATIC_URL}}css/tablecloth.css">
{% endblock %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}
<div class="tab-content">
    <div class="tab-pane fade in active" id="list">

        <table class="table table-condensed table-striped tablesorter" id="projects-table">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Latest Activity</th>
                </tr>
            </thead>

            <tbody>
                {% for p in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'project_detail' p.pid %}">{{p.name}}</a>
                    </td>
                    <td>
                        {{p.last_mod}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}js/libs/jquery.tablesorter.min.js"></script>
<script>
$(document).ready(function() {
    $("#projects-table").tablesorter({sortList: [[1, 0]]});
});
</script>
{% endblock %}
