{% extends 'base.html' %}

{% block title %}My Projects{% endblock %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}

<h1 class="page-title">My Projects</h1>

<br />

<table class="table table-condensed table-striped tablesorter tablesorter-default table-sortable"
       id="projects-table">
    <thead>
        <tr>
            <th>Project</th>
            <th>Latest Activity</th>
            <th>Add...</th>
        </tr>
    </thead>
    <tbody>
        {% for p in object_list %}
        <tr>
            <td>
                <a href="{% url 'project_detail' p.pid %}">{{p.name}}</a>
            </td>
            <td>
                {{p.last_mod|date:"Y-m-d"}}
            </td>
            <td>
                <button type="button"
                        class="btn btn-default btn-xs btn-add add-todo"
                        data-toggle="modal" data-target="#add-todo"
                        data-pid="{{p.pid}}">
                     To-Do
                </button>
                <button type="button"
                        class="btn btn-default btn-xs btn-add add-node"
                        data-toggle="modal" data-target="#add-node"
                        data-pid="{{p.pid}}">
                     Forum Post
                </button>
                <button type="button"
                        class="btn btn-default btn-xs btn-add add-update"
                        data-toggle="modal" data-target="#add-update"
                        data-pid="{{p.pid}}">
                     Status Update
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'main/project_add_todo_form.html' %}
{% include 'main/project_add_node_form.html' %}
{% include 'main/project_add_update_form.html' %}

{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $("#projects-table").tablesorter({
            sortList: [[1, 1]],
            headers: { 2: { sorter: false}}
        });

        var buttons = ['todo', 'node', 'update'];
        $.each(buttons, function(k, v) {
            $(document).on('click', 'button.add-'+v, function () {
                var pid = $(this).data('pid');
                $('#add-'+v+'-form').attr('action', '/project/'+pid+'/add_'+v+'/');
            });
        });
    });
</script>
{% endblock %}
