{% extends 'base.html' %}
{% load markup %}

{% block title %}Forum{% endblock %}


{% block content %}
<ul class="breadcrumb">
  <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
  <li class="active">Forum</li>
</ul>
{% if is_paginated %}
<ul class="pager">
{% if page_obj.has_previous %}
  <li><a href="/forum/?page={{ page_obj.previous_page_number }}">previous</a></li>
{% else %}
  <li class="disabled"><a href="#">previous</a></li>
{% endif %}
<li><span class="page-current">
 Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span></li>
{% if page_obj.has_next %}
  <li><a href="/forum/?page={{ page_obj.next_page_number }}">next</a></li>
{% else %}
  <li class="disabled"><a href="#">next</a></li>
{% endif %}
</ul>

{% endif %}

{% for n in object_list %}
		<h2><a href="{{n.get_absolute_url}}">{{n.subject}}</a></h2>

		<div class="pull-right"><span class="badge">
				{{n.replies}} <span class="glyphicon glyphicon-comment"></span></span></div>

<p><span class="text-muted">
{% if n.project %}to <a href="{{n.project.get_absolute_url}}">{{n.project.name}}</a>{% endif %}
by <a href="{{n.author.get_absolute_url}}">{{n.author.fullname}}</a>
| {{n.added}}</span>
</p>
{% if n.tags.count %}
<p>TAGS:
{% for tag in n.tags.all %}
<span class="tag">
<a href="/tag/{{tag.slug}}/"><span class="label label-info">{{tag}}</span></a>
</span>
{% endfor %}</p>
{% endif %}

{{n.body|markdown}}

{% endfor %}
{% if is_paginated %}
<ul class="pager">
{% if page_obj.has_previous %}
  <li><a href="/forum/?page={{ page_obj.previous_page_number }}">previous</a></li>
{% else %}
  <li class="disabled"><a href="#">previous</a></li>
{% endif %}
<li><span class="page-current">
 Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span></li>
{% if page_obj.has_next %}
  <li><a href="/forum/?page={{ page_obj.next_page_number }}">next</a></li>
{% else %}
  <li class="disabled"><a href="#">next</a></li>
{% endif %}
</ul>

{% endif %}

<p>track changes <a href="{% url 'forum_feed' %}"><img src="{{STATIC_URL}}img/rss.png" width="14" height="14" alt="RSS" /></a></p>
{% endblock %}
