{% extends 'base.html' %}
{% load markup %}

{% block title %}Forum Post: {{object.subject}}{% endblock %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
  <li><a href="/forum/">Forum</a></li>
</ul>

<p class="pull-right"><a href="edit/" class="btn btn-primary btn-xs"
												 title="edit"><span class="glyphicon glyphicon-edit"></span> edit</a></p>
<h1><a href="{{object.get_absolute_url}}">{{object.subject}}</a></h1>

<p><span class="text-muted">
{% if object.project %}to <a href="{{object.project.get_absolute_url}}">{{object.project.name}}</a>{% endif %}
by <a href="{{object.author.get_absolute_url}}">{{object.author.fullname}}</a>
| {{object.added}}</span>
</p>
<p>TAGS:
{% if object.tags.count %}
{% for tag in object.tags.all %}
<span class="tag">
<a href="/tag/{{tag.slug}}/"><span class="label label-info">{{tag}}</span></a>
<a href="remove_tag/{{tag.slug}}/" class="remove-link">x</a>
</span>
{% endfor %}
<br />
{% endif %}
<form action="tag/" method="post">
<div class="input-group">
<input class="form-control" type="text" placeholder="add tags (comma separated)"
			 name="tags" />
<span class="input-group-btn"><input type="submit" value="tag"
																		 class="btn btn-default" /></span>
</div>
</form>

{{object.body|markdown:"linkify"}}

<ul class="nav nav-tabs">
	{% if object.replies %}
	<li><a href="#replies" data-toggle="tab">Replies</a></li>
	{% endif %}
	<li><a href="#add-reply" data-toggle="tab">Add Reply</a></li>
</ul>

<div class="tab-content">
{% if object.replies %}
  <div class="tab-pane fade in active" id="replies">
<table class="table">
{% for reply in object.get_replies %}
<tr>
	<td>
			<span class="text-muted">by <a href="{{reply.author.get_absolute_url}}">{{reply.author.fullname}}</a><br />
			at {{reply.added}}</span>
	</td>
	<td>{{reply.body|markdown:"linkify"}}</td>
</tr>
{% endfor %}
</table>
</div>
  <div class="tab-pane fade in" id="add-reply">
{% else %}
  <div class="tab-pane fade in active" id="add-reply">
{% endif %}
<form action="reply/" method="post">
	<div class="form-group">
		<textarea name="body" class="form-control" rows="10"></textarea>
	</div>

<div class="pull-right"><input type="submit" value="Add Reply" class="btn btn-primary" /></div>
</fieldset>
</form>
</div>
</div>
{% endblock %}
