{% extends 'base.html' %}
{% load markup %}
{% load emoji_tags %}
{% load dmttags %}

{% block title %}Forum Post: {{object.subject}}{% endblock %}

{% block content %}

<h1 class="page-title">Forum Posts: {{object.subject|emoji_replace}}</h1>
{% if object.project %}
<div class="forum-project">
  <a href="{{object.project.get_absolute_url}}">{{object.project.name}}</a>
</div><!-- /.forum-project -->
{% endif %}

<div class="forum-byline text-muted">
by <a href="{{object.user.userprofile.get_absolute_url}}">{{ object.user.userprofile.get_fullname }}</a>
| {{object.added}}
| <a href="edit/" title="Edit post"><span class="glyphicon glyphicon-pencil"></span> Edit post</a>
</div><!-- /.forum-byline -->


<dl class="dl-horizontal forum-tags">
  <dt>Tags</dt>
  <dd>
  {% if object.tags %}
  {% for tag in object.tags.all %}
  <span class="tag">
  <a href="/tag/{{tag.slug}}/"><span>{{tag}}</span></a>
  <a href="remove_tag/{{tag.slug}}/" class="remove-link">x</a>
  </span>
  {% endfor %}
  {% endif %}
  <form action="tag/" method="post">{% csrf_token %}

  <div class="input-group input-group-sm tag-form">
  <input class="form-control" type="text" placeholder="Add tags (comma or space separated)" name="tags" />
  <span class="input-group-btn"><input type="submit" value="Tag" class="btn btn-primary" /></span>
  </div>
  </form>
  </dd>
</dl><!-- /.forum-tags -->

<div class="forum-body">
   {{object.body|commonmark|linkify|emoji_replace}}
</div><!-- /.forum-body -->

<div class="forum-replies">
  <a name="replies"></a>
<ul class="nav nav-tabs">
    {% if object.replies %}
    <li class="active"><a href="#replies" data-toggle="tab">
  {% if object.replies == 1 %}
    {{object.replies}} reply
  {% else %}
    {{object.replies}} replies
  {% endif %}
    </a></li>
    {% endif %}
    <li{% if not object.replies %} class="active"{% endif %}><a href="#add-reply" data-toggle="tab">Add Reply</a></li>
</ul>

  <div class="tab-content">
    {% if object.replies %}
    <div class="tab-pane fade in active" id="replies">
      {% for reply in object.get_replies %}
      <div class="forum-reply">
        <div class="forum-byline text-muted">
        By <a href="{{reply.user.userprofile.get_absolute_url}}">{{reply.user.userprofile.get_fullname}}</a>
        | {{reply.added}}
        </div><!-- /.forum-byline -->
        {{reply.body|commonmark|linkify|emoji_replace}}
      </div>
      {% endfor %}
    </div><!-- /#replies -->
    <div class="tab-pane fade in" id="add-reply">
    {% else %}
    <div class="tab-pane fade in active" id="add-reply">
    {% endif %}
    <div class="forum-reply">
        {% include 'main/markdown_note.html' %}
      <form action="reply/" method="post">{% csrf_token %}
      <fieldset>
      <div class="form-group">
      <textarea
          name="body"
          class="form-control"
          rows="5"
          placeholder="{% if object.replies == 0 %}Start the discussion...
          {% else %}Join the discussion...{% endif %}"></textarea>
      </div>

      <div class="pull-right"><input type="submit" value="Add Reply" class="btn btn-primary" /></div>
      </fieldset>
      </form>
      </div>
    </div><!-- /#add-reply -->
  </div><!-- /.tab-content -->
</div><!-- /.forum-replies -->
{% endblock %}
