{% extends 'base.html' %}
{% load markup %}
{% load waffle_tags %}
{% load emoji_tags %}
{% load dmttags %}
{% load static %}

{% block title %}Project: {{object.name}}{% endblock %}

{% block extraclass %} class="project-page"{% endblock %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}

    <h1 class="page-title">Project &#8226; {{object.name}}</h1>

    <div class="object-box clearfix">
        <div class="object-action-set clearfix">
            <ul>
                <li class="object-action" title="Kanban view">
                    <a href="{% url 'project_kanban' object.pid %}" class="object-action-link"><span class="glyphicon glyphicon-th-large"></span>
                        <span class="object-action-text hidden-xs hidden-sm">Kanban view</span></a>
                </li>

                {% flag project_board %}
                <li class="object-action" title="Board view">
                    <a href="{% url 'project_board' object.pid %}" class="object-action-link"><span class="glyphicon glyphicon-th-large"></span>
                        <span class="object-action-text hidden-xs hidden-sm">Board view</span></a>
                </li>
      {% endflag %}
      <li class="object-action" title="Project Chat">
          <a href="{% url 'project-chat' object.pid %}" class="object-action-link"><span class="glyphicon glyphicon-tent"></span>
              <span class="object-action-text hidden-xs hidden-sm">Project Chat</span></a>
      </li>
      
      <li class="object-action" title="Edit project">
          <a href="edit/" class="object-action-link"><span class="glyphicon glyphicon-pencil"></span>
              <span class="object-action-text hidden-xs hidden-sm">Edit project</span></a>
      </li>
      <li class="object-action" title="Add action item">
          <a href="#" class="object-action-link" data-toggle="modal" data-target="#add-action-item">
              <span class="glyphicon glyphicon-check"></span>
              <span class="object-action-text hidden-xs hidden-sm">Add action item</span></a>
      </li>
      <li class="object-action" title="Add bug">
          <a href="#" class="object-action-link" data-toggle="modal" data-target="#add-bug">
              <span class="icon-add-bug"></span>
              <span class="object-action-text hidden-xs hidden-sm">Add bug</span></a>
      </li>
      <li class="object-action" title="Add task(s) to do">
          <a href="#" class="object-action-link" data-toggle="modal" data-target="#add-todo">
              <span class="glyphicon glyphicon-tasks"></span>
              <span class="object-action-text hidden-xs hidden-sm">Add task(s) to do</span></a>
      </li>
      <li class="object-action" title="Add tracker">
          <a href="#" class="object-action-link" data-toggle="modal" data-target="#add-tracker">
              <span class="glyphicon glyphicon-time"></span>
              <span class="object-action-text hidden-xs hidden-sm">Add tracker</span></a>
      </li>
      <li class="object-action" title="Update status">
          <a href="#" class="object-action-link" data-toggle="modal" data-target="#add-update">
              <span class="glyphicon glyphicon-info-sign"></span>
              <span class="object-action-text hidden-xs hidden-sm">Update status</span></a>
      </li>
      <li class="object-action" title="Post to forum">
          <a href="#" class="object-action-link" data-toggle="modal" data-target="#add-node">
              <span class="glyphicon glyphicon-comment"></span>
              <span class="object-action-text hidden-xs hidden-sm">Post to forum</span></a>
      </li>
      <li class="object-action" title="Activity feed">
          <a href="{% url 'project_feed' object.pk %}">
              <span class="icon-rss"></span>
              <span class="object-action-text hidden-xs hidden-sm">Activity feed</span></a>
      </li>
      {% flag project_timeline %}
      <li class="object-action" title="Timeline">
          <a href="{% url 'project_timeline' object.pid %}" class="object-action-link"><span class="glyphicon glyphicon-list"></span>
              <span class="object-action-text hidden-xs hidden-sm">Timeline</span></a>
      </li>
      {% endflag %}
            <li class="object-action" title="Project Tags">
                <a href="{% url 'project_tag_list' object.pid %}"
                     class="object-action-link"><span class="glyphicon glyphicon-tags"></span>
                    <span class="object-action-text hidden-xs hidden-sm">Tags</span></a>
            </li>

    </ul>
  </div><!-- ./object-action-set -->

  <div class="object-details">

<form id="add-milestone-form" action="add_milestone/" method="post" role="form">{% csrf_token %}
<div class="modal fade" id="add-milestone" tabindex="-1" role="dialog" aria-labelledby="add-milestone-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="add-milestone-label">Add New Milestone</h4>
      </div>
      <div class="modal-body">

          <div class="row">
              <div class="col-sm-7">
                  <div class="form-group">
                      <input type="text" name="name" placeholder="name"
                             id="milestone-name-input"
                             class="form-control"/>
                  </div>
              </div>

              <div class="col-sm-4">
                  <div class="form-group">
                      <input type="text" name="target_date" class="form-control"
                             id="target-date"
                             value="{{object.current_date|date:"Y-m-d"}}">
                  </div>
              </div>

              <div class="col-sm-11">
                  <div class="form-group">
                      <textarea class="form-control" id="milestone-description-input"
                                name="description" placeholder="description"></textarea>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" id="add-milestone-button" value="Add" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>

{% with upcoming_milestone=object.upcoming_milestone %}
{% include 'main/project_add_bug_form.html' %}
{% include 'main/project_add_action_item_form.html' %}
{% endwith %}
{% include 'main/project_add_tracker_form.html' %}
{% include 'main/project_add_todo_form.html' %}
{% include 'main/project_add_node_form.html' %}
{% include 'main/project_add_update_form.html' %}

<ul class="nav nav-tabs project-tabs project-detail-tabs">
    <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
    <li><a href="#details" data-toggle="tab">Details</a></li>
    <li><a href="#personnel" data-toggle="tab">Personnel</a></li>
    <li><a href="#milestones" data-toggle="tab">Milestones</a></li>
    <li><a href="#reports" data-toggle="tab">Reports</a></li>
    <li><a href="#forum" data-toggle="tab">Forum</a></li>
    <li><a href="#updates" data-toggle="tab">Status</a></li>
    <li><a href="#attachments" data-toggle="tab">Attachments</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane fade in active" id="overview">

  {% if not milestones %}
  <h3 class="text-muted">There are no outstanding items for this project.</h3>
  <p>You can add a new <a href="#" data-toggle="modal"
     data-target="#add-milestone">milestone</a> or <a href="#" data-toggle="modal" data-target="#add-action-item">action item</a>.</p>
  {% endif %}

  {% for milestone in milestones %}
  <div class="milestone-set">
    <div class="milestone-header clearfix">
      <h4>
        Milestone:
        <a href="{% url 'milestone_detail' milestone.mid %}">{{ milestone.name }}</a>
      </h4>
      <div class="milestone-date">
      <b>Target: {{milestone.target_date|date:"Y-m-d"}}</b>
      {% if milestone.target_date_passed %}
      - <span class="late"><b>OVERDUE</b></span>
      {% endif %}
      </div>
    </div>
  {% if milestone.active_items %}
    <table class="table table-condensed table-striped tablesorter tablesorter-default"
           id="project-items-{{ milestone.mid }}">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th class="hidden-xs">Priority</th>
      <th class="hidden-xs">Target Date</th>
      <th class="hidden-sm hidden-xs">Owner</th>
      <th class="hidden-xs">Assigned To</th>
      <th class="hidden-sm hidden-xs">Modified</th>
    </tr>
  </thead>

  <tbody>

    {% for item in milestone.active_items %}
    <tr>
      <td>{% if item.is_bug %}<img src="{{STATIC_URL}}img/tinybug.gif"
  width="14" height="14"/> {% endif %}<a href="{{item.get_absolute_url}}">{{item.title|truncatechars:70|emoji_replace}}</a></td>
      <td class="{{item.status_class}}">{{item.status}} {{item.r_status|default:""}}</td>
      <td class="pr{{item.priority}} hidden-xs"><span class="invisible">{{item.priority}}</span>{{item.priority_label}}</td>
      <td class="hidden-xs">{{item.target_date|date:"Y-m-d"}}</td>
      <td class="hidden-sm hidden-xs">
          <a href="{{item.owner_user.userprofile.get_absolute_url}}"
          >{{ item.owner_user.userprofile.get_fullname }}</a>
      </td>
      <td class="hidden-xs">
          <a href="{{item.assigned_user.userprofile.get_absolute_url}}"
          >{{ item.assigned_user.userprofile.get_fullname }}</a>
      </td>
      <td class="hidden-sm hidden-xs">{{item.last_mod|date:"Y-m-d"}}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  {% else %}
  <p>no active items</p>
  {% endif %}
  </div><!-- ./milestone-set -->
  {% endfor %}

  </div>

  <div class="tab-pane fade" id="details">
    <dl class="dl-horizontal">
        <dt>Pin</dt>
        <dd><form action="{% url 'project-pin' object.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary"
            value="{% if pinned %}unpin{% else %}pin{% endif %}"
            />
        </form>
        </dd>
      <dt>Status</dt>
      <dd>{{object.status}}</dd>

      <dt>Caretaker</dt>
      <dd>
          <a href="{% url 'user_detail' object.caretaker_user.userprofile.username %}">
              {% firstof object.caretaker_user.get_full_name object.caretaker_user.username %}
          </a>
      </dd>

      <dt>Description</dt>
      <dd>{{object.description|commonmark|linkify|emoji_replace}}</dd>

      <dt>Project number</dt>
      <dd>{{object.projnum}}</dd>

      <dt>Project URL</dt>
      <dd>{% if object.url %}<a href="{{object.url}}" target="_blank">{{object.url}}</a>{% endif %}</dd>

      <dt>Information URL</dt>
      <dd>{% if object.info_url %}<a href="{{object.info_url}}" target="_blank">{{object.info_url}}</a>{% endif %}</dd>

      <dt>Evaluation URL</dt>
      <dd>{% if object.eval_url %}<a href="{{object.eval_url}}" target="_blank">{{object.eval_url}}</a>{% endif %}</dd>

  {% if object.wiki_category %}
      <dt>Wiki Category</dt>
      <dd><a href="http://wiki.ccnmtl.columbia.edu/index.php/Category:{{object.wiki_category}}" target="_blank">{{object.wiki_category}}</a></dd>
  {% endif %}
      </dd>

      <dt>Type</dt>
      <dd>{{object.type}}</dd>

      <dt>Discipline</dt>
      <dd>{{object.area}}</dd>

      <dt>Restricted</dt>
      <dd>{{object.restricted}}</dd>

      <dt>Approach</dt>
      <dd>{{object.approach}}</dd>

      <dt>Released?</dt>
      <dd>{% if object.entry_rel %}
      Yes
      {% else %}
      No
      {% endif %}
      </dd>

      <dt>Poster project?</dt>
      <dd>{% if object.poster %}
      Yes
      {% else %}
      No
      {% endif %}</dd>

      <dt>Scale</dt>
      <dd>{{object.scale}}</dd>

      <dt>Distribution</dt>
      <dd>{{object.distrib}}</dd>

    </dl>
  </div>

  <div class="tab-pane fade" id="personnel">
    <ul>
        {% for u in object.personnel_in_project %}
            <li><span class="personnel"><a href="{{u.get_absolute_url}}">{% firstof u.user.get_full_name u.user.username %}</a>{% if u.user.id == object.caretaker_user.id %} (Caretaker) {% endif %} {% if u.user.id != object.caretaker_user.id %}<a href="/project/{{object.pid}}/remove_user/{{u.username}}/"
        title="remove user from project" class="remove-link">[remove]</a>{% endif %}</span></li>
        {% endfor %}
    </ul>

    <script>
    if (typeof django === 'undefined') {
        var django = {
            jQuery: jQuery
        };
    }
    </script>
    <script src="/admin/jsi18n"></script>
    {{ personnel_form.media }}
    <form action="/project/{{object.pid}}/add_personnel/" method="post">{% csrf_token %}
        <div class="form-group">
            {{ personnel_form }}
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <input type="submit" value="add" class="btn btn-primary" />
        </div>
    </form>
  </div>

  <div class="tab-pane fade" id="milestones">

  <p class="pull-right">
  <a class="btn btn-primary btn-sm" href="#" data-toggle="modal"
     data-target="#add-milestone"><span class="glyphicon glyphicon-plus"></span>
    Add New Milestone</a></p>

  {% if object.milestone_set.count %}
  <table class="table table-condensed table-striped tablesorter tablesorter-default"
         id="milestone-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Target Date</th>
      <th>Status</th>
      <th># Open</th>
    </tr>
  </thead>

  <tbody>
    {% for milestone in object.milestone_set.all %}
    <tr>
      <td><a href="{{milestone.get_absolute_url}}">{{milestone.name|emoji_replace}}</a></td>
      <td>{{milestone.target_date|date:"Y-m-d"}}</td>
      <td class="{{milestone.status_class}}">{{milestone.status}}</td>
      <td>{{milestone.num_open_items}}</td>
    </tr>
    {% endfor %}
  </tbody>

  </table>
  {% endif %}
  </div>

  <div class="tab-pane fade" id="reports">
      {% include 'main/project_detail_report.html' %}
  </div>

  <div class="tab-pane fade" id="forum">
  {% for n in object.recent_forum_posts %}
  {% ifequal n.reply_to 0 %}
    <div class="forum-entry">
      <div class="forum-title">
        <h4><a href="{{n.get_absolute_url}}">{{n.subject|emoji_replace}}</a></h4>
      </div>
      <div class="forum-byline text-muted">
        by <a href="{{n.user.userprofile.get_absolute_url}}">{{n.user.userprofile.get_fullname}}</a>
        | {{n.added}}
        | <a href="{{n.get_absolute_url}}#replies"><span class="glyphicon glyphicon-comment"></span>
        {% ifequal n.replies 0 %}
          Add reply
        {% else %}
          {% ifequal n.replies 1 %}
            {{n.replies}} reply
          {% else %}
            {{n.replies}} replies
          {% endifequal %}
        {% endifequal %}
        </a>
      </div>

  {% if n.tags.count %}
  <dl class="dl-horizontal forum-tags">
    <dt>Tags</dt>
    <dd>
    {% for tag in n.tags.all %}
    <span class="tag">
    <a href="/tag/{{tag.slug}}/"><span>{{tag}}</span></a>
    <a href="remove_tag/{{tag.slug}}/" class="remove-link">x</a>
    </span>
    {% endfor %}
    </dd>
  </dl><!-- /.forum-tags -->
  {% endif %}

      <div class="forum-body">
      {{n.body|commonmark|linkify|emoji_replace}}
      </div>
    </div><!-- /.forum-entry -->
  {% endifequal %}
  {% endfor %}
  </div>

  <div class="tab-pane fade" id="updates">
    {% for n in object.recent_status_updates %}
    <div class="status-update" id="status-update-{{n.id}}">
      <div class="status-update-byline">
        <a href="{{n.author.userprofile.get_absolute_url}}">{{n.author.userprofile.get_fullname}}</a>
        &#8226;
        {{n.added.date}}
      </div><!-- /.status-update-byline -->
      <div class="status-update-body">
        {{n.body|commonmark|linkify|emoji_replace}}
      </div><!-- /.status-update-body -->
    </div><!-- /.status-update -->
    {% endfor %}
  </div>

  <div class="tab-pane fade" id="attachments">
      {% if object.attachments.count %}
          <h3>Item Attachments</h3>
          {% for attachment in object.attachments %}
              <div class="row">
                  <div class="col-sm-2" class="attachment-thumbnail">
                      {% if attachment.image %}
                          {% if attachment.url %}
                              <a href="{{attachment.url}}" title="Download this attachment"><img src="{{attachment.url}}" class="attachment-image" /></a>
                          {% else %}
                              <a href="{{attachment.src}}" title="Download this attachment"><img src="{{attachment.src}}" class="attachment-image" /></a>
                          {% endif %}
                      {% else %}
                          <a href="{{attachment.url}}" title="Download this attachment"><img src="{% static 'img/icon-document.png' %}" class="attachment-document" /></a>
                      {% endif %}
                  </div><!-- attachment thumbnail -->
                  <div class="col-sm-10">
                      <div class="attachment-title">
                          {% if attachment.url %}
                              <h4>
                                  <a href="{{attachment.url}}" title="Download this attachment">{{attachment.title|default:attachment.filename}}</a>
                                  [{% if attachment.item.is_bug %}<img src="{{STATIC_URL}}img/tinybug.gif"
                                                                       width="14" height="14"/> {% endif %} <a href="{{attachment.item.get_absolute_url}}">{{attachment.item.title|truncatechars:70|emoji_replace}}</a>]
                              </h4>
                          {% else %}
                              <h4>
                                  <a href="{{attachment.src}}" title="Download this attachment">{{attachment.title|default:attachment.filename}}</a>
                                  [{% if attachment.item.is_bug %}<img src="{{STATIC_URL}}img/tinybug.gif"
                                                                       width="14" height="14"/> {% endif %} <a href="{{attachment.item.get_absolute_url}}">{{attachment.item.title|truncatechars:70|emoji_replace}}</a>]
                              </h4>
                          {% endif %}


                      </div>

                      <div class="attachment-byline text-muted">
                          Uploaded by <a href="{% url 'user_detail' attachment.user.userprofile.username %}">
                          {{ attachment.user.userprofile.get_fullname }}
                          </a>
                          on {{attachment.last_mod}}
                      </div>
                      <div class="attachment-description">
                          {{attachment.description|commonmark|linkify|emoji_replace}}
                      </div>
                  </div><!-- attachment details -->
              </div><!-- /.row -->
          {% endfor %}
      {% else %}
          <p>No item attachments</p>
      {% endif %}
  </div>
  
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    {% for milestone in milestones %}
    {% if object.active_items %}
        $("#project-items-{{milestone.mid}}").tablesorter({
            sortList: [[3,1]]
        });
    {% endif %}
    {% endfor %}

    {% if object.milestone_set.count %}
        $("#milestone-table").tablesorter({
           sortList: [[1,1], [1,0]],
           headers: { 4: { sorter: false } }
        });
    {% endif %}

    $('#project-report').tablesorter({
        sortList: [[1, 1]]
    });
});
</script>

{% endblock %}
