{% extends 'base.html' %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}

<h1>Project: {{object.name}}</h1>

{% if object.milestone_set.count %}
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Target Date</th>
			<th>Status</th>
			<th># Open</th>
		</tr>
	</thead>

	<tbody>
		{% for milestone in object.milestone_set.all %}
		<tr>
			<td><a href="{{milestone.get_absolute_url}}">{{milestone.name}}</a></td>
			<td>{{milestone.target_date}}</td>
			<td class="{{milestone.status_class}}">{{milestone.status}}</td>
			<td>{{milestone.num_open_items}}</td>
		</tr>
		{% endfor %}
	</tbody>

</table>
{% endif %}
{% endblock %}
