{% load dmttags %}

{% include 'main/daterange_form.html' %}

<div class="row">
    <div class="col-md-6">
        <div class="control-group">
            Total hours reported: <strong>{{total_hours}}</strong>
        </div>
    </div>
</div>

<table id="project-report"
       class="table table-bordered table-striped tablesorter">
    <thead>
        <tr>
            <th>User</th>
            <th>Hours logged</th>
            <th>Last worked on</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users_active_in_range %}
        <tr>
            <td>
                <a href="{% url 'user_detail' u.userprofile.username %}"
                   >{{ u.userprofile.get_fullname }}</a>
            </td>
            <td>{{ u.hours_logged|interval_to_hours }}</td>
            <td>{{ u.last_worked_on }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<img src="{{GRAPHITE_BASE}}?target=ccnmtl.app.gauges.dmt.projects.{{project.pid}}.hours_logged&target=ccnmtl.app.gauges.dmt.projects.{{project.pid}}.hours_estimated&_salt=1369503684.466&height=50&colorList=%2366cc66%2C%23cc6666&hideLegend=true&hideAxes=true&yMin=0&width=800&bgcolor=%23ffffff&hideGrid=true&graphOnly=true&areaMode=stacked&from=-1years"
     width="100%" />

<ul>
    <li>
        Export project hours logged:
        <a href="{% url 'project-hours-report' project.pid %}?format=csv&interval_start={{interval_start|format_ymd}}&interval_end={{interval_end|format_ymd}}">CSV</a>
        or
        <a href="{% url 'project-hours-report' project.pid %}?format=xls&interval_start={{interval_start|format_ymd}}&interval_end={{interval_end|format_ymd}}">XLS</a>
    </li>
</ul>
