{% extends 'base.html' %}

{% load bootstrap3 %}

{% block extraclass %} class="project-page"{% endblock %}

{% block title %}All Projects{% endblock %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}

<h1 class="page-title">All Projects</h1>

<br />

<ul class="nav nav-tabs project-tabs">
  <li class="active"><a href="#list" data-toggle="tab"> List </a></li>
  <li><a href="#filter" data-toggle="tab"> Filter projects </a></li>
</ul>

<div class="tab-content">
        <div class="tab-pane fade in active" id="list">

            <table class="table table-condensed table-striped tablesorter tablesorter-default table-sortable"
                   id="projects-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Launch Date</th>
            <th>Project Manager</th>
            <th>Caretaker</th>
        </tr>
    </thead>

    <tbody>
        {% for project in object_list %}
        <tr>
            <td><a href="{{project.get_absolute_url}}">{{project.name}}</a></td>
            <td>{{project.category}}</td>
            <td>{{project.status}}</td>
            <td>{{project.start_date | date:"Y/m/d"}}</td>
            <td>{{project.due_date | date:"Y/m/d"}}</td>
            <td>{{project.launch_date | date:"Y/m/d"}}</td>
            <td><a href="/user/{{project.project_manager_user.username}}/">
                    {{project.project_manager_user.userprofile.fullname}}
                </a></td>
            <td><a href="/user/{{project.caretaker_user.username}}/">
                    {{project.caretaker_user.userprofile.fullname}}
                </a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
</div>

<div class="tab-pane fade object-form" id="filter">

<form action="" method="get">
  <div class="button-set">
    <input type="submit" class="btn btn-primary" value="Filter" />
    <input type="reset" value="Reset Filter" class="btn btn-warning" />
    <a href="/project/" class="btn btn-default">Cancel</a>
  </div>

  {% bootstrap_form filter.form %}

  <div class="button-set">
    <input type="submit" class="btn btn-primary" value="Filter" />
    <input type="reset" value="Reset Filter" class="btn btn-warning" />
    <a href="/project/" class="btn btn-default">Cancel</a>
  </div>
</form>

</div>


</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $("#projects-table").tablesorter({
        sortList: [[0, 0]]
    });
});
</script>
{% endblock %}
