<form id="add-todo-form" action="add_todo/" method="post" role="form">{% csrf_token %}
    <div class="modal fade" id="add-todo" tabindex="-1" role="dialog" aria-labelledby="add-todo-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="add-todo-label">Add Todo(s)</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="title_0" placeholder="task title"
                               id="todo-title-input-0" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="title_1" placeholder="task title"
                               id="todo-title-input-1" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="title_2" placeholder="task title"
                               id="todo-title-input-2" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="title_3" placeholder="task title"
                               id="todo-title-input-3" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="title_4" placeholder="task title"
                               id="todo-title-input-4" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags (for all)</label>
                        <input type="text" name="tags" id="tags" placeholder="tags"
                               class="form-control" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary"
                           id="add-todo-button" value="Add"/>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
