{% extends 'base.html' %}
{% load markup %}
{% load emoji_tags %}
{% load dmttags %}

{% block title %}Status Updates of Projects{% endblock %}

{% block content %}

<h1 class="page-title">Status Updates of Projects</h1>

{% if is_paginated %}
<div class="pagination-nav">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="/status/?page={{ page_obj.previous_page_number }}"><span aria-hidden="true"><b>&lt;</b></span><span class="sr-only">Previous</span></a></li>
    {% else %}
    <li class="disabled"><a href="#"><span aria-hidden="true"><span aria-hidden="true"><b>&lt;</b></span><span class="sr-only">Previous</span></a></li>
    {% endif %}
    <li class="disabled"><span class="page-current">
     Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span></li>

    {% if page_obj.has_next %}
      <li><a href="/status/?page={{ page_obj.next_page_number }}"><span aria-hidden="true"><b>&gt;</b></span><span class="sr-only">Next</span></a></li>
    {% else %}
      <li class="disabled"><a href="#"><span aria-hidden="true"><b>&gt;</b></span><span class="sr-only">Next</span></a></li>
    {% endif %}
  </ul>
</div>
{% endif %}



{% for su in statusupdate_list %}
<div class="status-update">
  <div class="status-update-byline">
    <b><a href="{{su.project.get_absolute_url}}">{{su.project.name}}</a></b> | <a href="{{su.author.userprofile.get_absolute_url}}">{{su.author.userprofile.get_fullname}}</a>
    &#8226;
    {{su.added.date}}
    &nbsp;
    <a href="{{su.get_absolute_url}}"><span class="glyphicon glyphicon-pencil"></span></a>
  </div><!-- /.status-update-byline -->
  <div class="status-update-body">
    {{su.body|commonmark|linkify|emoji_replace}}
  </div><!-- /.status-update-body -->
</div><!-- /.status-update -->
{% endfor %}



{% if is_paginated %}
<div class="pagination-nav">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="/status/?page={{ page_obj.previous_page_number }}"><span aria-hidden="true"><b>&lt;</b></span><span class="sr-only">Previous</span></a></li>
    {% else %}
    <li class="disabled"><a href="#"><span aria-hidden="true"><span aria-hidden="true"><b>&lt;</b></span><span class="sr-only">Previous</span></a></li>
    {% endif %}
    <li class="disabled"><span class="page-current">
     Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span></li>

    {% if page_obj.has_next %}
      <li><a href="/status/?page={{ page_obj.next_page_number }}"><span aria-hidden="true"><b>&gt;</b></span><span class="sr-only">Next</span></a></li>
    {% else %}
      <li class="disabled"><a href="#"><span aria-hidden="true"><b>&gt;</b></span><span class="sr-only">Next</span></a></li>
    {% endif %}
  </ul>
</div>
{% endif %}


{% endblock %}

