{% extends 'base.html' %}
{% load markup %}
{% load waffle_tags %}
{% load emoji_tags %}
{% load dmttags %}

{% block title %}User: {% firstof object.fullname object.username %}{% endblock %}
{% block extraclass %} class="user-profile-page"{% endblock %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}


{% block content %}

<h1 class="page-title">User &#8226; {% firstof object.fullname object.username %} <span style="font-weight: normal; color: #999;">({{object.username}})</span></h1>

{% if not object.active %}
<div class="alert alert-danger">
  <p><b>{% firstof object.fullname object.username %}</b> is inactive</p>
</div>
{% endif %}


<div class="user-profile-detail clearfix">

{% if object.photo_url %}
  <div class="thumbnail pull-left">
      <img src="{{object.photo_url}}" />
  </div>
{% endif %}
  <div class="user-profile-data clearfix" {% if object.photo_url %}style="margin-left: 140px; padding-top: 10px;"{% endif %}>
    <p><a href="edit/" class="btn btn-default btn-xs"
                                                 title="edit"><span class="glyphicon glyphicon-edit"></span> Edit profile</a></p>

    <p>
    {% if object.title %}{{object.title}}<br />{% endif %}
    {% if object.campus %}{{object.campus}} Campus<br />{% endif %}
    {% if object.email %}{{object.email}}<br />{% endif %}
    {% if object.phone %}{{object.phone}}<br />{% endif %}
    {% if object.room %}{{object.room}}{% endif %}
    {% if object.building %}{{object.building}}<br />{% endif %}
    </p>


  </div><!-- /.user-profile-data -->

    <div class="object-action-set clearfix">
      <ul>
      {% flag user_timeline %}
      <li class="object-action" title="Timeline">
        <a href="{% url 'user_timeline' object.username %}">
          <span class="icon-timeline"></span>
        <span class="object-action-text hidden-xs">Timeline</span></a>
      </li>
      {% endflag %}
      <li class="object-action" title="Weekly report">
      <a href="/report/user/{{object.username}}/weekly/" class="object-action-link"><span class="glyphicon glyphicon-stats"></span>
      <span class="object-action-text hidden-xs">Weekly report</span></a>
      </li>
      <li class="object-action" title="Yearly report">
      <a href="/report/user/{{object.username}}/yearly/" class="object-action-link"><span class="glyphicon glyphicon-stats"></span>
      <span class="object-action-text hidden-xs">Yearly report</span></a>
      </li>
      </ul>
    </div><!-- ./object-action-set -->



    <dl class="dl-horizontal clearfix">
        {% if object.primary_group %}
        <dt>Primary Group:</dt>
        <dd>
            <a href="{% url 'group_detail' object.primary_group.username %}"
               >{{object.primary_group.group_fullname}}</a>
        </dd>
        {% endif %}

        {% with object.user_groups as groups %}
        {% if groups %}
        <dt>Other Groups:</dt>
        <dd>
            {% for g in groups %}
            <a href="{% url 'group_detail' g.username %}">
                {{g.group_fullname}}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </dd>
        {% endif %}
        {% endwith %}
    </dl>


<dl class="dl-horizontal clearfix">
<dt>Total Time:</dt>
<dd>{{object.total_assigned_time|floatformat}} hours assigned | {{object.total_resolve_times|floatformat}} hours logged</dd>
</dl>

</div><!-- /.user-profile-detail -->







<ul class="nav nav-tabs object-tabs">
  <li class="active"><a href="#items" data-toggle="tab">Items</a></li>
  <li><a href="#clients" data-toggle="tab">Clients</a></li>
  <li><a href="#projects" data-toggle="tab">Projects</a></li>
  <li><a href="#forum" data-toggle="tab">Forum</a></li>
  <li><a href="#updates" data-toggle="tab">Status</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="items">
{% if object.items %}
<table class="table table-striped table-condensed tablesorter tablesorter-default table-items" id="user-items">
    <thead>
        <tr>
            <th>Item</th>
            <th class="hidden-xs">Priority</th>
            <th>Status</th>
            <th>Project</th>
            <th class="hidden-xs hidden-sm">Target Date</th>
            <th class="hidden-xs hidden-sm">Modified</th>
        </tr>
    </thead>
    <tbody>
{% for item in object.items %}
<tr>
    <td>{% if item.is_bug %}<img src="{{STATIC_URL}}img/tinybug.gif"
    width="14" height="14"/> {% endif %}<a href="{{item.get_absolute_url}}">{{item.title|truncatechars:70|emoji_replace}}</a></td>
    <td class="pr{{item.priority}} hidden-xs"><span class="invisible">{{item.priority}}</span>{{item.priority_label}}</td>
    <td class="{{item.status_class}}">{% firstof item.r_status item.status %}</td>
    <td><a href="{{item.milestone.project.get_absolute_url}}">{{item.milestone.project.name}}</a></td>
    <td class="{{item.target_date_status}} hidden-xs hidden-sm">{{item.target_date|date:"Y-m-d"}}</td>
    <td class="hidden-xs hidden-sm">{{item.last_mod|date:"Y-m-d"}}</td>
</tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>This user has no outstanding items</p>
{% endif %}
    </div>
  <div class="tab-pane fade" id="clients">
        {% if object.clients %}
<table class="table table-striped table-condensed">
{% for client in object.clients %}
<tr>
<td><a href="/client/{{client.client_id}}/">{{client.lastname}}, {{client.firstname}}</a></td>
<td>{{client.school}}</td>
<td>{{client.department}}</td>
<td>{{client.registration_date}}</td>
<td>{{client.status}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>There are no clients for this user.</p>
{% endif %}
    </div>
  <div class="tab-pane fade" id="projects">
  {% if object.project_set.count %}
    <div class="user-projects-set">
      <div class="user-projects-header clearfix">
        <h4>
          Caretaker for:
        </h4>
      </div>
      <table class="table table-condensed table-striped">
      <tbody>
        {% for project in object.project_set.all %}
        <tr>
          <td><a href="{{project.get_absolute_url}}">{{project.name}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div><!-- ./user-projects-set -->
  {% endif %}

  {% if object.manager_on %}
    <div class="user-projects-set">
      <div class="user-projects-header clearfix">
        <h4>
          Manager for:
        </h4>
      </div>
      <table class="table table-condensed table-striped">
      <tbody>
        {% for project in object.manager_on %}
        <tr>
          <td><a href="{{project.get_absolute_url}}">{{project.name}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div><!-- ./user-projects-set -->
  {% endif %}

  {% if object.developer_on %}
    <div class="user-projects-set">
      <div class="user-projects-header clearfix">
        <h4>
          Developer for:
        </h4>
      </div>
      <table class="table table-condensed table-striped">
      <tbody>
        {% for project in object.developer_on %}
        <tr>
          <td><a href="{{project.get_absolute_url}}">{{project.name}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div><!-- ./user-projects-set -->
  {% endif %}

  {% if object.guest_on %}
    <div class="user-projects-set">
      <div class="user-projects-header clearfix">
        <h4>
          Guest on:
        </h4>
      </div>
      <table class="table table-condensed table-striped">
      <tbody>
        {% for project in object.guest_on %}
        <tr>
          <td><a href="{{project.get_absolute_url}}">{{project.name}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div><!-- ./user-projects-set -->
  {% endif %}

    </div>
    <div class="tab-pane fade" id="forum">
    {% if object.recent_forum_posts %}
    {% for n in object.recent_forum_posts %}
    <div class="forum-entry">
      {% if n.project %}
      <div class="forum-project">
      <a href="{{n.project.get_absolute_url}}">{{n.project.name}}</a>
      </div>
      {% endif %}
      <div class="forum-title">
      <h4><a href="{{n.get_absolute_url}}">{{n.subject|emoji_replace}}</a></h4>
      </div>
      <div class="forum-byline text-muted">
      by {{ n.user.userprofile.get_fullname }}}
      | {{n.added}}
      </div>
      {% if n.tags.count %}
      <dl class="dl-horizontal forum-tags">
        <dt>Tags</dt>
        <dd>
        {% for tag in n.tags.all %}
        <span class="tag">
        <a href="/tag/{{tag.slug}}/"><span>{{tag}}</span></a>
        <a href="remove_tag/{{tag.slug}}/" class="remove-link">x</a>
        </span>
        {% endfor %}
        </dd>
      </dl><!-- /.forum-tags -->
      {% endif %}
      <div class="forum-body">
      {{n.body|commonmark|linkify|emoji_replace}}
      </div>
    </div><!-- /.forum-entry -->
    {% endfor %}
  {% else %}
      <p>There are no forum posts by this user.</p>
    {% endif %}
    </div><!-- Forum -->
    <div class="tab-pane fade" id="updates">
  {% if object.recent_status_updates %}
    {% for n in object.recent_status_updates %}
    <div class="status-update">
      <div class="status-update-byline">
        <b><a href="{{n.project.get_absolute_url}}">{{n.project.name}}</a></b> | {{n.author.userprofile.get_fullname}}
        &#8226;
        {{n.added.date}}
      </div><!-- /.status-update-byline -->
      <div class="status-update-body">
        {{n.body|commonmark|linkify|emoji_replace}}
      </div><!-- /.status-update-body -->
    </div><!-- /.status-update -->

    {% endfor %}
  {% else %}
    <p>There are no status updates by this user.</p>
  {% endif %}

</div>


</div>

{% endblock %}


{% block js %}
<script>
$(document).ready(function()
    {
        $("#user-items").tablesorter({sortList: [[1,1], [4,0]]});
    }
);
</script>
{% endblock %}
