{% extends 'base.html' %}
{% load markup %}

{% block title %}User: {{object.fullname}}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{STATIC_URL}}css/tablecloth.css">
{% endblock %}

{% block primarynavtabs %}
{% endblock %}

{% block primarynavtabsright %}
{% endblock %}

{% block content %}
<p><a href="http://pmt.ccnmtl.columbia.edu/home.pl?mode=user;username={{object.username}}">Return to the old PMT</a></p>
{% if not object.active %}
<div class="alert alert-danger">
<p><b>{{object.fullname}}</b> is inactive</p>
</div>
{% endif %}

{% if object.photo_url %}
  <div class="thumbnail pull-right">
      <img src="{{object.photo_url}}" />
  </div>
{% endif %}


<dl>
<dt>Username<dt><dd>{{object.username}}</dd>
<dt>Fullname<dt><dd>{{object.fullname}}</dd>
{% if object.email %}<dt>E-mail<dt><dd>{{object.email}}</dd>{% endif %}
{% if object.title %}<dt>Title<dt><dd>{{object.title}}</dd>{% endif %}
{% if object.phone %}<dt>Phone<dt><dd>{{object.phone}}</dd>{% endif %}
{% if object.office %}<dt>Office<dt><dd>{{object.office}}</dd>{% endif %}
{% if object.bio %}
<dt>Bio</dt><dd>{{object.bio|markdown}}</dd>
{% endif %}
</dl>


<ul class="nav nav-tabs">
  <li><a href="#items" data-toggle="tab">Items</a></li>
  <li><a href="#clients" data-toggle="tab">Clients</a></li>
  <li><a href="#reports" data-toggle="tab">Reports</a></li>
  <li><a href="#projects" data-toggle="tab">Projects</a></li>
  <li><a href="#forum" data-toggle="tab">Forum Posts</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="items">
{% if object.items %}
<table class="table table-striped table-condensed tablesorter" id="user-items">
	<thead>
		<tr>
			<th>Item</th>
			<th>Priority</th>
			<th>Status</th>
			<th>Project</th>
			<th>Target Date</th>
			<th>Modified</th>
		</tr>
	</thead>
	<tbody>
{% for item in object.items %}
<tr>
	<td>{% if item.is_bug %}<img src="{{STATIC_URL}}img/tinybug.gif"
	width="14" height="14"/> {% endif %}<a href="{{item.get_absolute_url}}">{{item.title}}</a></td>
	<td class="pr{{item.priority}}">{{item.priority_label}}</td>
	<td class="{{item.status_class}}">{{item.status}}</td>
	<td><a href="{{item.milestone.project.get_absolute_url}}">{{item.milestone.project.name}}</a></td>
	<td class="{{item.target_date_status}}">{{item.target_date|date:"Y-m-d"}}</td>
	<td>{{item.last_mod|date:"Y-m-d"}}</td>
</tr>
{% endfor %}
	</tbody>
</table>
{% else %}
<p>This user has no outstanding items</p>
{% endif %}
	</div>
  <div class="tab-pane fade" id="clients">
		{% if object.clients %}
<table class="table table-striped table-condensed">
{% for client in object.clients %}
<tr>
<td><a href="/client/{{client.client_id}}/">{{client.lastname}}, {{client.firstname}}</a></td>
<td>{{client.school}}</td>
<td>{{client.department}}</td>
<td>{{client.registration_date}}</td>
<td>{{client.status}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No clients for this user</p>
{% endif %}
	</div>
  <div class="tab-pane fade" id="reports">
		<p><a href="/report/user/{{object.username}}/weekly/">Weekly Report</a></p>
	</div>
  <div class="tab-pane fade" id="projects">
{% if object.project_set.count %}
		<ul>Caretaker for the following projects</ul>
{% for project in object.project_set.all %}
		<li><a href="{{project.get_absolute_url}}">{{project.name}}</a></li>
{% endfor %}
		</ul>
{% endif %}

{% if object.manager_on %}
		<ul>Manager for the following projects</ul>
{% for project in object.manager_on %}
		<li><a href="{{project.get_absolute_url}}">{{project.name}}</a></li>
{% endfor %}
		</ul>
{% endif %}

{% if object.developer_on %}
		<ul>Developer on the following projects</ul>
{% for project in object.developer_on %}
		<li><a href="{{project.get_absolute_url}}">{{project.name}}</a></li>
{% endfor %}
		</ul>
{% endif %}

{% if object.guest_on %}
		<ul>Guest on the following projects</ul>
{% for project in object.guest_on %}
		<li><a href="{{project.get_absolute_url}}">{{project.name}}</a></li>
{% endfor %}
		</ul>
{% endif %}

	</div>

	<div class="tab-pane fade" id="forum">
		{% for n in object.node_set.all %}
<h2><a href="{{n.get_absolute_url}}">{{n.subject}}</a></h2>
<p class="byline">
{% if n.project %}to <a href="{{n.project.get_absolute_url}}">{{n.project.name}}</a>{% endif %}
{{n.added}}
</p>
{{n.body|markdown}}

		{% endfor %}
	</div>

</div>

{% endblock %}


{% block js %}
  <script src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>

<script>
$(document).ready(function() 
    { 
        $("#user-items").tablesorter({sortList: [[1,1], [4,0]]}); 
    } 
);
</script>
{% endblock %}
