{% extends 'base.html' %}

{% block content %}
{% if request.user.is_superuser %}
<form action="." method="post">{% csrf_token %}
<fieldset><legend>Deactivate User {% firstof user.fullname user.username %}</legend>

{% if user.project_set.all.count %}
<h2>Projects that this user is caretaker for:</h2>

<p>These projects must have new caretakers set.</p>

<table class="table table-striped">
<thead>
    <tr>
        <th>Project</th>
        <th>Change Caretaker to</th>
    </tr>
</thead>
<tbody>
{% for p in user.project_set.all %}
<tr>
    <td><a href="{{p.get_absolute_url}}">{{p.name}}</a></td>
    <td>
        <select name="project_{{p.pid}}">
            {% for u in p.all_personnel_in_project %}
            {% ifnotequal u.username user.username %}
            <option value="{{u.username}}">{% firstof u.fullname u.username %}</option>
            {% endifnotequal %}
            {% endfor %}
        </select>
    </td>
{% endfor %}
</tbody>
</table>

{% else %}
<p>This user is not the caretaker of any projects.</p>
{% endif %}

{% if user.open_assigned_items %}
<h2>Open and Resolved items assigned to this user:</h2>

<p>These must be reassigned to someone else</p>

<table class="table table-striped">
<thead>
    <tr>
        <th>Item</th>
        <th>Project</th>
        <th>Reassign To</th>
    </tr>
</thead>
<tbody>
{% for i in user.non_verified_assigned_items %}
<tr>
    <td><a href="{{i.get_absolute_url}}">{{i.title}}</a></td>
    <td><a href="{{i.milestone.project.get_absolute_url}}">{{i.milestone.project.name}}</a></td>
    <td><select name="item_assigned_{{i.iid}}">
            {% for u in i.milestone.project.all_personnel_in_project %}
            {% ifnotequal user.username u.username %}
            <option value="{{u.username}}">{% firstof u.fullname u.username %}</option>
            {% endifnotequal %}
            {% endfor %}
            </select>
    </td>
</tr>
{% endfor %}
</tbody>
</table>

{% else %}
<p>There are no open/resolved items assigned to this user.</p>
{% endif %}

{% if user.non_verified_owned_items %}
<h2>Open and Resolved items owned by this user:</h2>

<p>Ownership on these must be changed to someone else</p>

<table class="table table-striped">
<thead>
    <tr>
        <th>Item</th>
        <th>Project</th>
        <th>Change Owner To</th>
    </tr>
</thead>
<tbody>

{% for i in user.non_verified_owned_items %}
<tr>
    <td><a href="{{i.get_absolute_url}}">{{i.title}}</a></td>
    <td><a href="{{i.milestone.project.get_absolute_url}}">{{i.milestone.project.name}}</a></td>
    <td><select name="item_owner_{{i.iid}}">
            {% for u in i.milestone.project.all_personnel_in_project %}
            {% ifnotequal u.username user.username %}
            <option value="{{u.username}}">{% firstof u.fullname u.username %}</option>
            {% endifnotequal %}
            {% endfor %}
            </select>
    </td>
</tr>
{% endfor %}
</tbody>
</table>

{% else %}
<p>There are no open/resolved items owned by this user.</p>
{% endif %}



<a href="{{user.get_absolute_url}}" class="btn btn-default">Cancel</a>
<input type="submit" value="Deactivate" class="btn btn-primary" />
</fieldset>
</form>

{% endif %}
{% endblock %}
